
# Organize and Cleanse City Demographic Data
  1. import metro area Demographic ("ACS_12_1YR_CP05" and "ACS_17_1YR_CP05") data. Source:
     * https://factfinder.census.gov/faces/nav/jsf/pages/download_center.xhtml
  2. ACS_12: drop unneeded cities; drop unneeded cols; cleanse data 
  3. ACS_17: drop unneeded cities; drop unneeded cols; cleanse data
  4. merge ACS_12 and ACS_17

In [1]:
import pandas as pd

### 1) import metro area Demographic ("ACS_12_1YR_CP05" and "ACS_17_1YR_CP05") data

In [2]:
# import the US Census's "American Community Survey" (ACS) Metro Area Demographic data: 2012
dfD12 = pd.read_csv('raw/ACS_12_1YR_CP05_with_ann.csv')
dfD12.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC05_VC03,HC06_VC03,HC07_VC03,...,HC09_VC96,HC01_VC98,HC02_VC98,HC03_VC98,HC04_VC98,HC05_VC98,HC06_VC98,HC07_VC98,HC08_VC98,HC09_VC98
0,Id,Id2,Geography,2012 Estimate; SEX AND AGE - Total population,2011 Estimate; SEX AND AGE - Total population,2012 - 2011 Statistical Significance; SEX AND ...,2010 Estimate; SEX AND AGE - Total population,2012 - 2010 Statistical Significance; SEX AND ...,2009 Estimate; SEX AND AGE - Total population,2012 - 2009 Statistical Significance; SEX AND ...,...,2012 - 2008 Statistical Significance; HISPANIC...,2012 Estimate; HISPANIC OR LATINO AND RACE - T...,2011 Estimate; HISPANIC OR LATINO AND RACE - T...,2012 - 2011 Statistical Significance; HISPANIC...,2010 Estimate; HISPANIC OR LATINO AND RACE - T...,2012 - 2010 Statistical Significance; HISPANIC...,2009 Estimate; HISPANIC OR LATINO AND RACE - T...,2012 - 2009 Statistical Significance; HISPANIC...,2008 Estimate; HISPANIC OR LATINO AND RACE - T...,2012 - 2008 Statistical Significance; HISPANIC...
1,310M100US10180,10180,"Abilene, TX Metro Area",167800,165858,NaN,164941,*,(X),NaN,...,NaN,70553,69887,NaN,69711,NaN,(X),NaN,(X),NaN
2,310M100US10420,10420,"Akron, OH Metro Area",702262,701456,c,702951,c,(X),NaN,...,NaN,312864,313023,NaN,312600,NaN,(X),NaN,(X),NaN
3,310M100US10500,10500,"Albany, GA Metro Area",155019,161617,*,162659,*,(X),NaN,...,NaN,65861,66150,NaN,67169,NaN,(X),NaN,(X),NaN
4,310M100US10580,10580,"Albany-Schenectady-Troy, NY Metro Area",874646,871478,c,870832,c,(X),NaN,...,NaN,394602,395203,NaN,393443,NaN,(X),NaN,(X),NaN

In [3]:
# import the US Census's "American Community Survey" (ACS) Metro Area Demographic data:2017
dfD17 = pd.read_csv('raw/ACS_17_1YR_CP05_with_ann.csv')
dfD17.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC05_VC03,HC06_VC03,HC07_VC03,...,HC09_VC114,HC01_VC115,HC02_VC115,HC03_VC115,HC04_VC115,HC05_VC115,HC06_VC115,HC07_VC115,HC08_VC115,HC09_VC115
0,Id,Id2,Geography,2017 Estimate; SEX AND AGE - Total population,2016 Estimate; SEX AND AGE - Total population,2017 - 2016 Statistical Significance; SEX AND ...,2015 Estimate; SEX AND AGE - Total population,2017 - 2015 Statistical Significance; SEX AND ...,2014 Estimate; SEX AND AGE - Total population,2017 - 2014 Statistical Significance; SEX AND ...,...,"2017 - 2013 Statistical Significance; CITIZEN,...","2017 Estimate; CITIZEN, VOTING AGE POPULATION ...","2016 Estimate; CITIZEN, VOTING AGE POPULATION ...","2017 - 2016 Statistical Significance; CITIZEN,...","2015 Estimate; CITIZEN, VOTING AGE POPULATION ...","2017 - 2015 Statistical Significance; CITIZEN,...","2014 Estimate; CITIZEN, VOTING AGE POPULATION ...","2017 - 2014 Statistical Significance; CITIZEN,...","2013 Estimate; CITIZEN, VOTING AGE POPULATION ...","2017 - 2013 Statistical Significance; CITIZEN,..."
1,310M300US10180,10180,"Abilene, TX Metro Area",169747,170860,NaN,168922,NaN,166900,NaN,...,NaN,49.9,48.7,*,49.3,NaN,49.1,*,49.2,NaN
2,310M300US10420,10420,"Akron, OH Metro Area",703505,702221,c,704243,c,703825,c,...,*,52.0,52.0,NaN,52.2,NaN,52.4,*,52.4,*
3,310M300US10500,10500,"Albany, GA Metro Area",151754,152506,NaN,156997,*,152596,NaN,...,NaN,53.9,54.2,NaN,54.6,NaN,54.0,NaN,53.4,NaN
4,310M300US10540,10540,"Albany, OR Metro Area",125047,122849,c,120547,c,119356,c,...,NaN,51.0,51.4,NaN,51.0,NaN,51.1,NaN,51.1,NaN

In [4]:
# eliminate " (Metro Area)" suffix in each row: 2012
dfD12['GEO.display-label'] = dfD12['GEO.display-label'].str.replace(' Metro Area','')
dfD12['GEO.display-label'].unique()

array(['Geography', 'Abilene, TX', 'Akron, OH', 'Albany, GA',
       'Albany-Schenectady-Troy, NY', 'Albuquerque, NM', 'Alexandria, LA',
       'Allentown-Bethlehem-Easton, PA-NJ', 'Altoona, PA', 'Amarillo, TX',
       'Ames, IA', 'Anchorage, AK', 'Anderson, IN', 'Anderson, SC',
       'Ann Arbor, MI', 'Anniston-Oxford, AL', 'Appleton, WI',
       'Asheville, NC', 'Athens-Clarke County, GA',
       'Atlanta-Sandy Springs-Marietta, GA',
       'Atlantic City-Hammonton, NJ', 'Auburn-Opelika, AL',
       'Augusta-Richmond County, GA-SC',
       'Austin-Round Rock-San Marcos, TX', 'Bakersfield-Delano, CA',
       'Baltimore-Towson, MD', 'Bangor, ME', 'Barnstable Town, MA',
       'Baton Rouge, LA', 'Battle Creek, MI', 'Bay City, MI',
       'Beaumont-Port Arthur, TX', 'Bellingham, WA', 'Bend, OR',
       'Billings, MT', 'Binghamton, NY', 'Birmingham-Hoover, AL',
       'Bismarck, ND', 'Blacksburg-Christiansburg-Radford, VA',
       'Bloomington, IN', 'Bloomington-Normal, IL',
       'Boise City-Nampa, ID', 'Boston-Cambridge-Quincy, MA-NH',
       'Boulder, CO', 'Bowling Green, KY', 'Bremerton-Silverdale, WA',
       'Bridgeport-Stamford-Norwalk, CT', 'Brownsville-Harlingen, TX',
       'Brunswick, GA', 'Buffalo-Niagara Falls, NY', 'Burlington, NC',
       'Burlington-South Burlington, VT', 'Canton-Massillon, OH',
       'Cape Coral-Fort Myers, FL', 'Cape Girardeau-Jackson, MO-IL',
       'Carson City, NV', 'Casper, WY', 'Cedar Rapids, IA',
       'Champaign-Urbana, IL', 'Charleston, WV',
       'Charleston-North Charleston-Summerville, SC',
       'Charlotte-Gastonia-Rock Hill, NC-SC', 'Charlottesville, VA',
       'Chattanooga, TN-GA', 'Cheyenne, WY',
       'Chicago-Joliet-Naperville, IL-IN-WI', 'Chico, CA',
       'Cincinnati-Middletown, OH-KY-IN', 'Clarksville, TN-KY',
       'Cleveland, TN', 'Cleveland-Elyria-Mentor, OH',
       "Coeur d'Alene, ID", 'College Station-Bryan, TX',
       'Colorado Springs, CO', 'Columbia, MO', 'Columbia, SC',
       'Columbus, GA-AL', 'Columbus, IN', 'Columbus, OH',
       'Corpus Christi, TX', 'Corvallis, OR',
       'Crestview-Fort Walton Beach-Destin, FL', 'Cumberland, MD-WV',
       'Dallas-Fort Worth-Arlington, TX', 'Dalton, GA', 'Danville, IL',
       'Danville, VA', 'Davenport-Moline-Rock Island, IA-IL',
       'Dayton, OH', 'Decatur, AL', 'Decatur, IL',
       'Deltona-Daytona Beach-Ormond Beach, FL',
       'Denver-Aurora-Broomfield, CO', 'Des Moines-West Des Moines, IA',
       'Detroit-Warren-Livonia, MI', 'Dothan, AL', 'Dover, DE',
       'Dubuque, IA', 'Duluth, MN-WI', 'Durham-Chapel Hill, NC',
       'Eau Claire, WI', 'El Centro, CA', 'Elizabethtown, KY',
       'Elkhart-Goshen, IN', 'Elmira, NY', 'El Paso, TX', 'Erie, PA',
       'Eugene-Springfield, OR', 'Evansville, IN-KY', 'Fairbanks, AK',
       'Fargo, ND-MN', 'Farmington, NM', 'Fayetteville, NC',
       'Fayetteville-Springdale-Rogers, AR-MO', 'Flagstaff, AZ',
       'Flint, MI', 'Florence, SC', 'Florence-Muscle Shoals, AL',
       'Fond du Lac, WI', 'Fort Collins-Loveland, CO',
       'Fort Smith, AR-OK', 'Fort Wayne, IN', 'Fresno, CA', 'Gadsden, AL',
       'Gainesville, FL', 'Gainesville, GA', 'Glens Falls, NY',
       'Goldsboro, NC', 'Grand Forks, ND-MN', 'Grand Junction, CO',
       'Grand Rapids-Wyoming, MI', 'Great Falls, MT', 'Greeley, CO',
       'Green Bay, WI', 'Greensboro-High Point, NC', 'Greenville, NC',
       'Greenville-Mauldin-Easley, SC', 'Gulfport-Biloxi, MS',
       'Hagerstown-Martinsburg, MD-WV', 'Hanford-Corcoran, CA',
       'Harrisburg-Carlisle, PA', 'Harrisonburg, VA',
       'Hartford-West Hartford-East Hartford, CT', 'Hattiesburg, MS',
       'Hickory-Lenoir-Morganton, NC', 'Hinesville-Fort Stewart, GA',
       'Holland-Grand Haven, MI', 'Honolulu, HI', 'Hot Springs, AR',
       'Houma-Bayou Cane-Thibodaux, LA', 'Houston-Sugar Land-Baytown, TX',
       'Huntington-Ashland, WV-KY-OH', 'Huntsville, AL',
       'Idaho Falls, ID', 'Indianapolis-Carmel, IN', 'Iowa City, IA',
       'Ithaca, NY', 'Jackson, MI', 'Jackson, MS', 'Jackson, TN',
       'Jacksonville, FL', 'Jacksonville, NC', 'Janesville, WI',
       'Jefferson City, MO', 'Johnson City, TN', 'Johnstown, PA',
       'Jonesboro, AR', 'Joplin, MO', 'Kalamazoo-Portage, MI',
       'Kankakee-Bradley, IL', 'Kansas City, MO-KS',
       'Kennewick-Pasco-Richland, WA', 'Killeen-Temple-Fort Hood, TX',
       'Kingsport-Bristol-Bristol, TN-VA', 'Kingston, NY',
       'Knoxville, TN', 'Kokomo, IN', 'La Crosse, WI-MN', 'Lafayette, IN',
       'Lafayette, LA', 'Lake Charles, LA',
       'Lake Havasu City-Kingman, AZ', 'Lakeland-Winter Haven, FL',
       'Lancaster, PA', 'Lansing-East Lansing, MI', 'Laredo, TX',
       'Las Cruces, NM', 'Las Vegas-Paradise, NV', 'Lawrence, KS',
       'Lawton, OK', 'Lebanon, PA', 'Lewiston, ID-WA',
       'Lewiston-Auburn, ME', 'Lexington-Fayette, KY', 'Lima, OH',
       'Lincoln, NE', 'Little Rock-North Little Rock-Conway, AR',
       'Logan, UT-ID', 'Longview, TX', 'Longview, WA',
       'Los Angeles-Long Beach-Santa Ana, CA',
       'Louisville/Jefferson County, KY-IN', 'Lubbock, TX',
       'Lynchburg, VA', 'Macon, GA', 'Madera-Chowchilla, CA',
       'Madison, WI', 'Manchester-Nashua, NH', 'Manhattan, KS',
       'Mankato-North Mankato, MN', 'Mansfield, OH',
       'McAllen-Edinburg-Mission, TX', 'Medford, OR', 'Memphis, TN-MS-AR',
       'Merced, CA', 'Miami-Fort Lauderdale-Pompano Beach, FL',
       'Michigan City-La Porte, IN', 'Midland, TX',
       'Milwaukee-Waukesha-West Allis, WI',
       'Minneapolis-St. Paul-Bloomington, MN-WI', 'Missoula, MT',
       'Mobile, AL', 'Modesto, CA', 'Monroe, LA', 'Monroe, MI',
       'Montgomery, AL', 'Morgantown, WV', 'Morristown, TN',
       'Mount Vernon-Anacortes, WA', 'Muncie, IN',
       'Muskegon-Norton Shores, MI',
       'Myrtle Beach-North Myrtle Beach-Conway, SC', 'Napa, CA',
       'Naples-Marco Island, FL',
       'Nashville-Davidson--Murfreesboro--Franklin, TN',
       'New Haven-Milford, CT', 'New Orleans-Metairie-Kenner, LA',
       'New York-Northern New Jersey-Long Island, NY-NJ-PA',
       'Niles-Benton Harbor, MI', 'North Port-Bradenton-Sarasota, FL',
       'Norwich-New London, CT', 'Ocala, FL', 'Ocean City, NJ',
       'Odessa, TX', 'Ogden-Clearfield, UT', 'Oklahoma City, OK',
       'Olympia, WA', 'Omaha-Council Bluffs, NE-IA',
       'Orlando-Kissimmee-Sanford, FL', 'Oshkosh-Neenah, WI',
       'Owensboro, KY', 'Oxnard-Thousand Oaks-Ventura, CA',
       'Palm Bay-Melbourne-Titusville, FL', 'Palm Coast, FL',
       'Panama City-Lynn Haven-Panama City Beach, FL',
       'Parkersburg-Marietta-Vienna, WV-OH', 'Pascagoula, MS',
       'Pensacola-Ferry Pass-Brent, FL', 'Peoria, IL',
       'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
       'Phoenix-Mesa-Glendale, AZ', 'Pine Bluff, AR', 'Pittsburgh, PA',
       'Pittsfield, MA', 'Pocatello, ID',
       'Portland-South Portland-Biddeford, ME',
       'Portland-Vancouver-Hillsboro, OR-WA', 'Port St. Lucie, FL',
       'Poughkeepsie-Newburgh-Middletown, NY', 'Prescott, AZ',
       'Providence-New Bedford-Fall River, RI-MA', 'Provo-Orem, UT',
       'Pueblo, CO', 'Punta Gorda, FL', 'Racine, WI', 'Raleigh-Cary, NC',
       'Rapid City, SD', 'Reading, PA', 'Redding, CA', 'Reno-Sparks, NV',
       'Richmond, VA', 'Riverside-San Bernardino-Ontario, CA',
       'Roanoke, VA', 'Rochester, MN', 'Rochester, NY', 'Rockford, IL',
       'Rocky Mount, NC', 'Rome, GA',
       'Sacramento--Arden-Arcade--Roseville, CA',
       'Saginaw-Saginaw Township North, MI', 'St. Cloud, MN',
       'St. George, UT', 'St. Joseph, MO-KS', 'St. Louis, MO-IL',
       'Salem, OR', 'Salinas, CA', 'Salisbury, MD', 'Salt Lake City, UT',
       'San Angelo, TX', 'San Antonio-New Braunfels, TX',
       'San Diego-Carlsbad-San Marcos, CA', 'Sandusky, OH',
       'San Francisco-Oakland-Fremont, CA',
       'San Jose-Sunnyvale-Santa Clara, CA',
       'San Luis Obispo-Paso Robles, CA',
       'Santa Barbara-Santa Maria-Goleta, CA',
       'Santa Cruz-Watsonville, CA', 'Santa Fe, NM',
       'Santa Rosa-Petaluma, CA', 'Savannah, GA',
       'Scranton--Wilkes-Barre, PA', 'Seattle-Tacoma-Bellevue, WA',
       'Sebastian-Vero Beach, FL', 'Sheboygan, WI', 'Sherman-Denison, TX',
       'Shreveport-Bossier City, LA', 'Sioux City, IA-NE-SD',
       'Sioux Falls, SD', 'South Bend-Mishawaka, IN-MI',
       'Spartanburg, SC', 'Spokane, WA', 'Springfield, IL',
       'Springfield, MA', 'Springfield, MO', 'Springfield, OH',
       'State College, PA', 'Steubenville-Weirton, OH-WV', 'Stockton, CA',
       'Sumter, SC', 'Syracuse, NY', 'Tallahassee, FL',
       'Tampa-St. Petersburg-Clearwater, FL', 'Terre Haute, IN',
       'Texarkana, TX-Texarkana, AR', 'Toledo, OH', 'Topeka, KS',
       'Trenton-Ewing, NJ', 'Tucson, AZ', 'Tulsa, OK', 'Tuscaloosa, AL',
       'Tyler, TX', 'Utica-Rome, NY', 'Valdosta, GA',
       'Vallejo-Fairfield, CA', 'Victoria, TX',
       'Vineland-Millville-Bridgeton, NJ',
       'Virginia Beach-Norfolk-Newport News, VA-NC',
       'Visalia-Porterville, CA', 'Waco, TX', 'Warner Robins, GA',
       'Washington-Arlington-Alexandria, DC-VA-MD-WV',
       'Waterloo-Cedar Falls, IA', 'Wausau, WI',
       'Wenatchee-East Wenatchee, WA', 'Wheeling, WV-OH', 'Wichita, KS',
       'Wichita Falls, TX', 'Williamsport, PA', 'Wilmington, NC',
       'Winchester, VA-WV', 'Winston-Salem, NC', 'Worcester, MA',
       'Yakima, WA', 'York-Hanover, PA',
       'Youngstown-Warren-Boardman, OH-PA', 'Yuba City, CA', 'Yuma, AZ'],
      dtype=object)

In [5]:
# eliminate " (Metro Area)" suffix in each row: 2017
dfD17['GEO.display-label'] = dfD17['GEO.display-label'].str.replace(' Metro Area','')
dfD17['GEO.display-label'].unique()

array(['Geography', 'Abilene, TX', 'Akron, OH', 'Albany, GA',
       'Albany, OR', 'Albany-Schenectady-Troy, NY', 'Albuquerque, NM',
       'Alexandria, LA', 'Allentown-Bethlehem-Easton, PA-NJ',
       'Altoona, PA', 'Amarillo, TX', 'Ames, IA', 'Anchorage, AK',
       'Ann Arbor, MI', 'Anniston-Oxford-Jacksonville, AL',
       'Appleton, WI', 'Asheville, NC', 'Athens-Clarke County, GA',
       'Atlanta-Sandy Springs-Roswell, GA', 'Atlantic City-Hammonton, NJ',
       'Auburn-Opelika, AL', 'Augusta-Richmond County, GA-SC',
       'Austin-Round Rock, TX', 'Bakersfield, CA',
       'Baltimore-Columbia-Towson, MD', 'Bangor, ME',
       'Barnstable Town, MA', 'Baton Rouge, LA', 'Battle Creek, MI',
       'Bay City, MI', 'Beaumont-Port Arthur, TX', 'Beckley, WV',
       'Bellingham, WA', 'Bend-Redmond, OR', 'Billings, MT',
       'Binghamton, NY', 'Birmingham-Hoover, AL', 'Bismarck, ND',
       'Blacksburg-Christiansburg-Radford, VA', 'Bloomington, IL',
       'Bloomington, IN', 'Bloomsburg-Berwick, PA', 'Boise City, ID',
       'Boston-Cambridge-Newton, MA-NH', 'Boulder, CO',
       'Bowling Green, KY', 'Bremerton-Silverdale, WA',
       'Bridgeport-Stamford-Norwalk, CT', 'Brownsville-Harlingen, TX',
       'Brunswick, GA', 'Buffalo-Cheektowaga-Niagara Falls, NY',
       'Burlington, NC', 'Burlington-South Burlington, VT',
       'California-Lexington Park, MD', 'Canton-Massillon, OH',
       'Cape Coral-Fort Myers, FL', 'Cape Girardeau, MO-IL',
       'Carbondale-Marion, IL', 'Carson City, NV', 'Casper, WY',
       'Cedar Rapids, IA', 'Chambersburg-Waynesboro, PA',
       'Champaign-Urbana, IL', 'Charleston, WV',
       'Charleston-North Charleston, SC',
       'Charlotte-Concord-Gastonia, NC-SC', 'Charlottesville, VA',
       'Chattanooga, TN-GA', 'Cheyenne, WY',
       'Chicago-Naperville-Elgin, IL-IN-WI', 'Chico, CA',
       'Cincinnati, OH-KY-IN', 'Clarksville, TN-KY', 'Cleveland, TN',
       'Cleveland-Elyria, OH', "Coeur d'Alene, ID",
       'College Station-Bryan, TX', 'Colorado Springs, CO',
       'Columbia, MO', 'Columbia, SC', 'Columbus, GA-AL', 'Columbus, IN',
       'Columbus, OH', 'Corpus Christi, TX', 'Corvallis, OR',
       'Crestview-Fort Walton Beach-Destin, FL', 'Cumberland, MD-WV',
       'Dallas-Fort Worth-Arlington, TX', 'Dalton, GA', 'Danville, IL',
       'Daphne-Fairhope-Foley, AL', 'Davenport-Moline-Rock Island, IA-IL',
       'Dayton, OH', 'Decatur, AL', 'Decatur, IL',
       'Deltona-Daytona Beach-Ormond Beach, FL',
       'Denver-Aurora-Lakewood, CO', 'Des Moines-West Des Moines, IA',
       'Detroit-Warren-Dearborn, MI', 'Dothan, AL', 'Dover, DE',
       'Dubuque, IA', 'Duluth, MN-WI', 'Durham-Chapel Hill, NC',
       'East Stroudsburg, PA', 'Eau Claire, WI', 'El Centro, CA',
       'Elizabethtown-Fort Knox, KY', 'Elkhart-Goshen, IN', 'Elmira, NY',
       'El Paso, TX', 'Enid, OK', 'Erie, PA', 'Eugene, OR',
       'Evansville, IN-KY', 'Fairbanks, AK', 'Fargo, ND-MN',
       'Farmington, NM', 'Fayetteville, NC',
       'Fayetteville-Springdale-Rogers, AR-MO', 'Flagstaff, AZ',
       'Flint, MI', 'Florence, SC', 'Florence-Muscle Shoals, AL',
       'Fond du Lac, WI', 'Fort Collins, CO', 'Fort Smith, AR-OK',
       'Fort Wayne, IN', 'Fresno, CA', 'Gadsden, AL', 'Gainesville, FL',
       'Gainesville, GA', 'Gettysburg, PA', 'Glens Falls, NY',
       'Goldsboro, NC', 'Grand Forks, ND-MN', 'Grand Island, NE',
       'Grand Junction, CO', 'Grand Rapids-Wyoming, MI',
       'Grants Pass, OR', 'Great Falls, MT', 'Greeley, CO',
       'Green Bay, WI', 'Greensboro-High Point, NC', 'Greenville, NC',
       'Greenville-Anderson-Mauldin, SC',
       'Gulfport-Biloxi-Pascagoula, MS', 'Hagerstown-Martinsburg, MD-WV',
       'Hammond, LA', 'Hanford-Corcoran, CA', 'Harrisburg-Carlisle, PA',
       'Harrisonburg, VA', 'Hartford-West Hartford-East Hartford, CT',
       'Hattiesburg, MS', 'Hickory-Lenoir-Morganton, NC',
       'Hilton Head Island-Bluffton-Beaufort, SC', 'Hinesville, GA',
       'Homosassa Springs, FL', 'Hot Springs, AR', 'Houma-Thibodaux, LA',
       'Houston-The Woodlands-Sugar Land, TX',
       'Huntington-Ashland, WV-KY-OH', 'Huntsville, AL',
       'Idaho Falls, ID', 'Indianapolis-Carmel-Anderson, IN',
       'Iowa City, IA', 'Ithaca, NY', 'Jackson, MI', 'Jackson, MS',
       'Jackson, TN', 'Jacksonville, FL', 'Jacksonville, NC',
       'Janesville-Beloit, WI', 'Jefferson City, MO', 'Johnson City, TN',
       'Johnstown, PA', 'Jonesboro, AR', 'Joplin, MO',
       'Kahului-Wailuku-Lahaina, HI', 'Kalamazoo-Portage, MI',
       'Kankakee, IL', 'Kansas City, MO-KS', 'Kennewick-Richland, WA',
       'Killeen-Temple, TX', 'Kingsport-Bristol-Bristol, TN-VA',
       'Kingston, NY', 'Knoxville, TN', 'Kokomo, IN',
       'La Crosse-Onalaska, WI-MN', 'Lafayette, LA',
       'Lafayette-West Lafayette, IN', 'Lake Charles, LA',
       'Lake Havasu City-Kingman, AZ', 'Lakeland-Winter Haven, FL',
       'Lancaster, PA', 'Lansing-East Lansing, MI', 'Laredo, TX',
       'Las Cruces, NM', 'Las Vegas-Henderson-Paradise, NV',
       'Lawrence, KS', 'Lawton, OK', 'Lebanon, PA', 'Lewiston, ID-WA',
       'Lewiston-Auburn, ME', 'Lexington-Fayette, KY', 'Lima, OH',
       'Lincoln, NE', 'Little Rock-North Little Rock-Conway, AR',
       'Logan, UT-ID', 'Longview, TX', 'Longview, WA',
       'Los Angeles-Long Beach-Anaheim, CA',
       'Louisville/Jefferson County, KY-IN', 'Lubbock, TX',
       'Lynchburg, VA', 'Macon-Bibb County, GA', 'Madera, CA',
       'Madison, WI', 'Manchester-Nashua, NH', 'Manhattan, KS',
       'Mankato-North Mankato, MN', 'Mansfield, OH',
       'McAllen-Edinburg-Mission, TX', 'Medford, OR', 'Memphis, TN-MS-AR',
       'Merced, CA', 'Miami-Fort Lauderdale-West Palm Beach, FL',
       'Michigan City-La Porte, IN', 'Midland, MI', 'Midland, TX',
       'Milwaukee-Waukesha-West Allis, WI',
       'Minneapolis-St. Paul-Bloomington, MN-WI', 'Missoula, MT',
       'Mobile, AL', 'Modesto, CA', 'Monroe, LA', 'Monroe, MI',
       'Montgomery, AL', 'Morgantown, WV', 'Morristown, TN',
       'Mount Vernon-Anacortes, WA', 'Muncie, IN', 'Muskegon, MI',
       'Myrtle Beach-Conway-North Myrtle Beach, SC-NC', 'Napa, CA',
       'Naples-Immokalee-Marco Island, FL',
       'Nashville-Davidson--Murfreesboro--Franklin, TN', 'New Bern, NC',
       'New Haven-Milford, CT', 'New Orleans-Metairie, LA',
       'New York-Newark-Jersey City, NY-NJ-PA', 'Niles-Benton Harbor, MI',
       'North Port-Sarasota-Bradenton, FL', 'Norwich-New London, CT',
       'Ocala, FL', 'Ocean City, NJ', 'Odessa, TX',
       'Ogden-Clearfield, UT', 'Oklahoma City, OK',
       'Olympia-Tumwater, WA', 'Omaha-Council Bluffs, NE-IA',
       'Orlando-Kissimmee-Sanford, FL', 'Oshkosh-Neenah, WI',
       'Owensboro, KY', 'Oxnard-Thousand Oaks-Ventura, CA',
       'Palm Bay-Melbourne-Titusville, FL', 'Panama City, FL',
       'Parkersburg-Vienna, WV', 'Pensacola-Ferry Pass-Brent, FL',
       'Peoria, IL', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
       'Phoenix-Mesa-Scottsdale, AZ', 'Pine Bluff, AR', 'Pittsburgh, PA',
       'Pittsfield, MA', 'Pocatello, ID', 'Portland-South Portland, ME',
       'Portland-Vancouver-Hillsboro, OR-WA', 'Port St. Lucie, FL',
       'Prescott, AZ', 'Providence-Warwick, RI-MA', 'Provo-Orem, UT',
       'Pueblo, CO', 'Punta Gorda, FL', 'Racine, WI', 'Raleigh, NC',
       'Rapid City, SD', 'Reading, PA', 'Redding, CA', 'Reno, NV',
       'Richmond, VA', 'Riverside-San Bernardino-Ontario, CA',
       'Roanoke, VA', 'Rochester, MN', 'Rochester, NY', 'Rockford, IL',
       'Rocky Mount, NC', 'Rome, GA',
       'Sacramento--Roseville--Arden-Arcade, CA', 'Saginaw, MI',
       'St. Cloud, MN', 'St. George, UT', 'St. Joseph, MO-KS',
       'St. Louis, MO-IL', 'Salem, OR', 'Salinas, CA', 'Salisbury, MD-DE',
       'Salt Lake City, UT', 'San Angelo, TX',
       'San Antonio-New Braunfels, TX', 'San Diego-Carlsbad, CA',
       'San Francisco-Oakland-Hayward, CA',
       'San Jose-Sunnyvale-Santa Clara, CA',
       'San Luis Obispo-Paso Robles-Arroyo Grande, CA',
       'Santa Cruz-Watsonville, CA', 'Santa Fe, NM',
       'Santa Maria-Santa Barbara, CA', 'Santa Rosa, CA', 'Savannah, GA',
       'Scranton--Wilkes-Barre--Hazleton, PA',
       'Seattle-Tacoma-Bellevue, WA', 'Sebastian-Vero Beach, FL',
       'Sebring, FL', 'Sheboygan, WI', 'Sherman-Denison, TX',
       'Shreveport-Bossier City, LA', 'Sierra Vista-Douglas, AZ',
       'Sioux City, IA-NE-SD', 'Sioux Falls, SD',
       'South Bend-Mishawaka, IN-MI', 'Spartanburg, SC',
       'Spokane-Spokane Valley, WA', 'Springfield, IL', 'Springfield, MA',
       'Springfield, MO', 'Springfield, OH', 'State College, PA',
       'Staunton-Waynesboro, VA', 'Stockton-Lodi, CA', 'Sumter, SC',
       'Syracuse, NY', 'Tallahassee, FL',
       'Tampa-St. Petersburg-Clearwater, FL', 'Terre Haute, IN',
       'Texarkana, TX-AR', 'The Villages, FL', 'Toledo, OH', 'Topeka, KS',
       'Trenton, NJ', 'Tucson, AZ', 'Tulsa, OK', 'Tuscaloosa, AL',
       'Tyler, TX', 'Urban Honolulu, HI', 'Utica-Rome, NY',
       'Valdosta, GA', 'Vallejo-Fairfield, CA', 'Victoria, TX',
       'Vineland-Bridgeton, NJ',
       'Virginia Beach-Norfolk-Newport News, VA-NC',
       'Visalia-Porterville, CA', 'Waco, TX', 'Walla Walla, WA',
       'Warner Robins, GA',
       'Washington-Arlington-Alexandria, DC-VA-MD-WV',
       'Waterloo-Cedar Falls, IA', 'Watertown-Fort Drum, NY',
       'Wausau, WI', 'Weirton-Steubenville, WV-OH', 'Wenatchee, WA',
       'Wheeling, WV-OH', 'Wichita, KS', 'Wichita Falls, TX',
       'Williamsport, PA', 'Wilmington, NC', 'Winchester, VA-WV',
       'Winston-Salem, NC', 'Worcester, MA-CT', 'Yakima, WA',
       'York-Hanover, PA', 'Youngstown-Warren-Boardman, OH-PA',
       'Yuba City, CA', 'Yuma, AZ'], dtype=object)

In [6]:
# import the city file and group it
dfCities = pd.read_csv('cities.csv')
grpCities = dfCities.groupby('ACSMetro')
dfCities = grpCities.count()
dfCities

,BEAMetro,WikipediaMetro,City,State
ACSMetro,,,,
"Atlanta-Sandy Springs-Marietta, GA",1,1,1,1
"Baltimore-Towson, MD",1,1,1,1
"Boston-Cambridge-Quincy, MA-NH",1,1,1,1
"Buffalo-Niagara Falls, NY",1,1,1,1
"Charlotte-Gastonia-Rock Hill, NC-SC",1,1,1,1
"Chicago-Joliet-Naperville, IL-IN-WI",1,1,1,1
"Cincinnati-Middletown, OH-KY-IN",1,1,1,1
"Cleveland-Elyria-Mentor, OH",1,1,1,1
"Columbus, OH",1,1,1,1
"Dallas-Fort Worth-Arlington, TX",2,2,2,2
"Denver-Aurora-Broomfield, CO",1,1,1,1
"Detroit-Warren-Livonia, MI",1,1,1,1
"Green Bay, WI",1,1,1,1
"Houston-Sugar Land-Baytown, TX",1,1,1,1
"Indianapolis-Carmel, IN",1,1,1,1
"Jacksonville, FL",1,1,1,1
"Kansas City, MO-KS",1,1,1,1
"Las Vegas-Paradise, NV",1,1,1,1
"Los Angeles-Long Beach-Santa Ana, CA",2,2,2,2
"Memphis, TN-MS-AR",1,1,1,1
"Miami-Fort Lauderdale-Pompano Beach, FL",2,2,2,2
"Milwaukee-Waukesha-West Allis, WI",1,1,1,1
"Minneapolis-St. Paul-Bloomington, MN-WI",2,2,2,2
"Nashville-Davidson--Murfreesboro--Franklin, TN",1,1,1,1
"New Orleans-Metairie-Kenner, LA",1,1,1,1
"New York-Northern New Jersey-Long Island, NY-NJ-PA",3,3,3,3
"Oklahoma City, OK",1,1,1,1
"Orlando-Kissimmee-Sanford, FL",1,1,1,1
"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",1,1,1,1
"Phoenix-Mesa-Glendale, AZ",1,1,1,1
"Pittsburgh, PA",1,1,1,1
"Portland-Vancouver-Hillsboro, OR-WA",1,1,1,1
"Raleigh-Cary, NC",1,1,1,1
"Sacramento--Arden-Arcade--Roseville, CA",1,1,1,1
"Salt Lake City, UT",1,1,1,1
"San Antonio-New Braunfels, TX",1,1,1,1
"San Diego-Carlsbad-San Marcos, CA",1,1,1,1
"San Francisco-Oakland-Fremont, CA",2,2,2,2
"San Jose-Sunnyvale-Santa Clara, CA",1,1,1,1
"Seattle-Tacoma-Bellevue, WA",1,1,1,1
"St. Louis, MO-IL",1,1,1,1
"Tampa-St. Petersburg-Clearwater, FL",2,2,2,2
"Washington-Arlington-Alexandria, DC-VA-MD-WV",1,1,1,1

## 2) ACS_12: drop unneeded cities; drop unneeded cols; cleanse data

In [7]:
# use the grouped city DataFrame to drop unneeded rows from dfGDP via merge
dfD12 = pd.merge(dfD12, dfCities, left_on='GEO.display-label', right_on='ACSMetro')
dfD12.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC05_VC03,HC06_VC03,HC07_VC03,...,HC04_VC98,HC05_VC98,HC06_VC98,HC07_VC98,HC08_VC98,HC09_VC98,BEAMetro,WikipediaMetro,City,State
0,310M100US12060,12060,"Atlanta-Sandy Springs-Marietta, GA",5442113,5365726,*,5288302,*,(X),NaN,...,2168806,*,(X),NaN,(X),NaN,1,1,1,1
1,310M100US12580,12580,"Baltimore-Towson, MD",2753149,2729110,c,2714183,c,(X),NaN,...,1133012,*,(X),NaN,(X),NaN,1,1,1,1
2,310M100US14460,14460,"Boston-Cambridge-Quincy, MA-NH",4640802,4591112,c,4560689,c,(X),NaN,...,1883591,NaN,(X),NaN,(X),NaN,1,1,1,1
3,310M100US15380,15380,"Buffalo-Niagara Falls, NY",1134210,1134039,c,1135198,c,(X),NaN,...,519128,NaN,(X),NaN,(X),NaN,1,1,1,1
4,310M100US16740,16740,"Charlotte-Gastonia-Rock Hill, NC-SC",1831084,1795472,c,1764313,c,(X),NaN,...,741184,*,(X),NaN,(X),NaN,1,1,1,1

In [8]:
# import ACS metadata file
dfD12Meta = pd.read_csv('raw/ACS_12_1YR_CP05_metadata.csv', header=None, names=['col','description'])
dfD12Meta.head(10)

                 col                                        description
0             GEO.id                                                 Id
1            GEO.id2                                                Id2
2  GEO.display-label                                          Geography
3          HC01_VC03      2012 Estimate; SEX AND AGE - Total population
4          HC02_VC03      2011 Estimate; SEX AND AGE - Total population
5          HC03_VC03  2012 - 2011 Statistical Significance; SEX AND ...
6          HC04_VC03      2010 Estimate; SEX AND AGE - Total population
7          HC05_VC03  2012 - 2010 Statistical Significance; SEX AND ...
8          HC06_VC03      2009 Estimate; SEX AND AGE - Total population
9          HC07_VC03  2012 - 2009 Statistical Significance; SEX AND ...

In [9]:
# create col to identify multi-year rows in metadata file
dfD12Meta['droprow'] = dfD12Meta['description'].str.contains('\d\d\d\d - \d\d\d\d')
dfD12Meta.head(10)

,col,description,droprow
0,GEO.id,Id,False
1,GEO.id2,Id2,False
2,GEO.display-label,Geography,False
3,HC01_VC03,2012 Estimate; SEX AND AGE - Total population,False
4,HC02_VC03,2011 Estimate; SEX AND AGE - Total population,False
5,HC03_VC03,2012 - 2011 Statistical Significance; SEX AND ...,True
6,HC04_VC03,2010 Estimate; SEX AND AGE - Total population,False
7,HC05_VC03,2012 - 2010 Statistical Significance; SEX AND ...,True
8,HC06_VC03,2009 Estimate; SEX AND AGE - Total population,False
9,HC07_VC03,2012 - 2009 Statistical Significance; SEX AND ...,True

In [10]:
# drop multi-year rows from metadata file
dfD12Meta = dfD12Meta.loc[dfD12Meta['droprow'] == False]
dfD12Meta = dfD12Meta[['col','description']]
dfD12Meta.head(10)

                  col                                    description
0              GEO.id                                             Id
1             GEO.id2                                            Id2
2   GEO.display-label                                      Geography
3           HC01_VC03  2012 Estimate; SEX AND AGE - Total population
4           HC02_VC03  2011 Estimate; SEX AND AGE - Total population
6           HC04_VC03  2010 Estimate; SEX AND AGE - Total population
8           HC06_VC03  2009 Estimate; SEX AND AGE - Total population
10          HC08_VC03  2008 Estimate; SEX AND AGE - Total population
12          HC01_VC04              2012 Estimate; SEX AND AGE - Male
13          HC02_VC04              2011 Estimate; SEX AND AGE - Male

In [11]:
# drop unneeded cols
dfD12 = dfD12[dfD12Meta['col']]
dfD12.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC04_VC03,HC06_VC03,HC08_VC03,HC01_VC04,HC02_VC04,...,HC01_VC96,HC02_VC96,HC04_VC96,HC06_VC96,HC08_VC96,HC01_VC98,HC02_VC98,HC04_VC98,HC06_VC98,HC08_VC98
0,310M100US12060,12060,"Atlanta-Sandy Springs-Marietta, GA",5442113,5365726,5288302,(X),(X),48.7,48.9,...,1.6,1.7,1.4,(X),(X),2175303,2169873,2168806,(X),(X)
1,310M100US12580,12580,"Baltimore-Towson, MD",2753149,2729110,2714183,(X),(X),48.1,48.1,...,2.2,2.2,2.0,(X),(X),1139559,1138113,1133012,(X),(X)
2,310M100US14460,14460,"Boston-Cambridge-Quincy, MA-NH",4640802,4591112,4560689,(X),(X),48.5,48.4,...,1.5,1.6,1.5,(X),(X),1885961,1891039,1883591,(X),(X)
3,310M100US15380,15380,"Buffalo-Niagara Falls, NY",1134210,1134039,1135198,(X),(X),48.4,48.4,...,1.6,1.7,1.8,(X),(X),518979,518757,519128,(X),(X)
4,310M100US16740,16740,"Charlotte-Gastonia-Rock Hill, NC-SC",1831084,1795472,1764313,(X),(X),48.5,48.4,...,2.1,1.6,1.8,(X),(X),747886,742559,741184,(X),(X)

In [12]:
# eliminate "(X)" values in DataFrame
for strCol in dfD12.columns:
    dfD12[strCol] = dfD12[strCol].str.replace('\(X\)','')
dfD12.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC04_VC03,HC06_VC03,HC08_VC03,HC01_VC04,HC02_VC04,...,HC01_VC96,HC02_VC96,HC04_VC96,HC06_VC96,HC08_VC96,HC01_VC98,HC02_VC98,HC04_VC98,HC06_VC98,HC08_VC98
0,310M100US12060,12060,"Atlanta-Sandy Springs-Marietta, GA",5442113,5365726,5288302,,,48.7,48.9,...,1.6,1.7,1.4,,,2175303,2169873,2168806,,
1,310M100US12580,12580,"Baltimore-Towson, MD",2753149,2729110,2714183,,,48.1,48.1,...,2.2,2.2,2.0,,,1139559,1138113,1133012,,
2,310M100US14460,14460,"Boston-Cambridge-Quincy, MA-NH",4640802,4591112,4560689,,,48.5,48.4,...,1.5,1.6,1.5,,,1885961,1891039,1883591,,
3,310M100US15380,15380,"Buffalo-Niagara Falls, NY",1134210,1134039,1135198,,,48.4,48.4,...,1.6,1.7,1.8,,,518979,518757,519128,,
4,310M100US16740,16740,"Charlotte-Gastonia-Rock Hill, NC-SC",1831084,1795472,1764313,,,48.5,48.4,...,2.1,1.6,1.8,,,747886,742559,741184,,

## 3) ACS_17: drop unneeded cities; drop unneeded cols; cleanse data

In [13]:
# use the grouped city DataFrame to drop unneeded rows from dfGDP via merge
dfD17 = pd.merge(dfD17, dfCities, left_on='GEO.display-label', right_on='ACSMetro')
dfD17.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC05_VC03,HC06_VC03,HC07_VC03,...,HC04_VC115,HC05_VC115,HC06_VC115,HC07_VC115,HC08_VC115,HC09_VC115,BEAMetro,WikipediaMetro,City,State
0,310M300US18140,18140,"Columbus, OH",2078725,2041520,c,2021632,c,1994536,c,...,51.4,NaN,51.4,NaN,51.6,NaN,1,1,1,1
1,310M300US19100,19100,"Dallas-Fort Worth-Arlington, TX",7400479,7232599,*,7102165,*,6954003,*,...,52.2,*,52.1,NaN,52.1,NaN,2,2,2,2
2,310M300US24580,24580,"Green Bay, WI",320050,318236,c,316519,c,314531,c,...,50.8,NaN,50.7,NaN,50.6,NaN,1,1,1,1
3,310M300US27260,27260,"Jacksonville, FL",1504980,1478212,c,1449481,c,1419127,c,...,52.1,NaN,51.8,NaN,52.1,NaN,1,1,1,1
4,310M300US28140,28140,"Kansas City, MO-KS",2126945,2104115,*,2088269,*,2070221,*,...,52.0,*,51.8,NaN,51.8,NaN,1,1,1,1

In [14]:
# import ACS metadata file
dfD17Meta = pd.read_csv('raw/ACS_17_1YR_CP05_metadata.csv', header=None, names=['col','description'])
dfD17Meta.head(10)

                 col                                        description
0             GEO.id                                                 Id
1            GEO.id2                                                Id2
2  GEO.display-label                                          Geography
3          HC01_VC03      2017 Estimate; SEX AND AGE - Total population
4          HC02_VC03      2016 Estimate; SEX AND AGE - Total population
5          HC03_VC03  2017 - 2016 Statistical Significance; SEX AND ...
6          HC04_VC03      2015 Estimate; SEX AND AGE - Total population
7          HC05_VC03  2017 - 2015 Statistical Significance; SEX AND ...
8          HC06_VC03      2014 Estimate; SEX AND AGE - Total population
9          HC07_VC03  2017 - 2014 Statistical Significance; SEX AND ...

In [15]:
# create col to identify multi-year rows in metadata file
dfD17Meta['droprow'] = dfD17Meta['description'].str.contains('\d\d\d\d - \d\d\d\d')
dfD17Meta.head(10)

,col,description,droprow
0,GEO.id,Id,False
1,GEO.id2,Id2,False
2,GEO.display-label,Geography,False
3,HC01_VC03,2017 Estimate; SEX AND AGE - Total population,False
4,HC02_VC03,2016 Estimate; SEX AND AGE - Total population,False
5,HC03_VC03,2017 - 2016 Statistical Significance; SEX AND ...,True
6,HC04_VC03,2015 Estimate; SEX AND AGE - Total population,False
7,HC05_VC03,2017 - 2015 Statistical Significance; SEX AND ...,True
8,HC06_VC03,2014 Estimate; SEX AND AGE - Total population,False
9,HC07_VC03,2017 - 2014 Statistical Significance; SEX AND ...,True

In [16]:
# drop multi-year rows from metadata file
dfD17Meta = dfD17Meta.loc[dfD17Meta['droprow'] == False]
dfD17Meta = dfD17Meta[['col','description']]
dfD17Meta.head(10)

                  col                                        description
0              GEO.id                                                 Id
1             GEO.id2                                                Id2
2   GEO.display-label                                          Geography
3           HC01_VC03      2017 Estimate; SEX AND AGE - Total population
4           HC02_VC03      2016 Estimate; SEX AND AGE - Total population
6           HC04_VC03      2015 Estimate; SEX AND AGE - Total population
8           HC06_VC03      2014 Estimate; SEX AND AGE - Total population
10          HC08_VC03      2013 Estimate; SEX AND AGE - Total population
12          HC01_VC04  2017 Estimate; SEX AND AGE - Total population ...
13          HC02_VC04  2016 Estimate; SEX AND AGE - Total population ...

In [17]:
# drop unneeded cols
dfD17 = dfD17[dfD17Meta['col']]
dfD17.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC04_VC03,HC06_VC03,HC08_VC03,HC01_VC04,HC02_VC04,...,HC01_VC114,HC02_VC114,HC04_VC114,HC06_VC114,HC08_VC114,HC01_VC115,HC02_VC115,HC04_VC115,HC06_VC115,HC08_VC115
0,310M300US18140,18140,"Columbus, OH",2078725,2041520,2021632,1994536,1967066,49.1,49.2,...,48.4,48.5,48.6,48.6,48.4,51.6,51.5,51.4,51.4,51.6
1,310M300US19100,19100,"Dallas-Fort Worth-Arlington, TX",7400479,7232599,7102165,6954003,6812373,49.2,49.2,...,48.0,47.9,47.8,47.9,47.9,52.0,52.1,52.2,52.1,52.1
2,310M300US24580,24580,"Green Bay, WI",320050,318236,316519,314531,312409,49.9,50.1,...,49.3,49.6,49.2,49.3,49.4,50.7,50.4,50.8,50.7,50.6
3,310M300US27260,27260,"Jacksonville, FL",1504980,1478212,1449481,1419127,1394624,48.6,48.7,...,48.0,47.9,47.9,48.2,47.9,52.0,52.1,52.1,51.8,52.1
4,310M300US28140,28140,"Kansas City, MO-KS",2126945,2104115,2088269,2070221,2052048,49.2,49.1,...,48.3,48.3,48.0,48.2,48.2,51.7,51.7,52.0,51.8,51.8

In [18]:
# eliminate "(X)" values in DataFrame
for strCol in dfD17.columns:
    dfD17[strCol] = dfD17[strCol].str.replace('\(X\)','')
dfD17

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC04_VC03,HC06_VC03,HC08_VC03,HC01_VC04,HC02_VC04,...,HC01_VC114,HC02_VC114,HC04_VC114,HC06_VC114,HC08_VC114,HC01_VC115,HC02_VC115,HC04_VC115,HC06_VC115,HC08_VC115
0,310M300US18140,18140,"Columbus, OH",2078725,2041520,2021632,1994536,1967066,49.1,49.2,...,48.4,48.5,48.6,48.6,48.4,51.6,51.5,51.4,51.4,51.6
1,310M300US19100,19100,"Dallas-Fort Worth-Arlington, TX",7400479,7232599,7102165,6954003,6812373,49.2,49.2,...,48.0,47.9,47.8,47.9,47.9,52.0,52.1,52.2,52.1,52.1
2,310M300US24580,24580,"Green Bay, WI",320050,318236,316519,314531,312409,49.9,50.1,...,49.3,49.6,49.2,49.3,49.4,50.7,50.4,50.8,50.7,50.6
3,310M300US27260,27260,"Jacksonville, FL",1504980,1478212,1449481,1419127,1394624,48.6,48.7,...,48.0,47.9,47.9,48.2,47.9,52.0,52.1,52.1,51.8,52.1
4,310M300US28140,28140,"Kansas City, MO-KS",2126945,2104115,2088269,2070221,2052048,49.2,49.1,...,48.3,48.3,48.0,48.2,48.2,51.7,51.7,52.0,51.8,51.8
5,310M300US32820,32820,"Memphis, TN-MS-AR",1346626,1346437,1343572,1344121,1343850,48.0,47.9,...,46.7,46.7,46.5,46.5,46.7,53.3,53.3,53.5,53.5,53.3
6,310M300US33340,33340,"Milwaukee-Waukesha-West Allis, WI",1576236,1572482,1575747,1572245,1569659,48.8,48.7,...,48.0,47.8,47.7,47.7,47.7,52.0,52.2,52.3,52.3,52.3
7,310M300US33460,33460,"Minneapolis-St. Paul-Bloomington, MN-WI",3600618,3551036,3524583,3495176,3459146,49.6,49.5,...,49.0,48.9,48.7,48.7,48.7,51.0,51.1,51.3,51.3,51.3
8,310M300US34980,34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",1904226,1865535,1830298,1792468,1757424,48.7,48.6,...,47.9,47.7,47.7,47.6,47.9,52.1,52.3,52.3,52.4,52.1
9,310M300US36420,36420,"Oklahoma City, OK",1383737,1373211,1358452,1336767,1319677,49.4,49.3,...,48.3,48.5,48.1,48.1,48.3,51.7,51.5,51.9,51.9,51.7
10,310M300US36740,36740,"Orlando-Kissimmee-Sanford, FL",2509831,2441257,2387138,2321418,2267846,48.9,48.9,...,48.3,48.3,48.2,48.2,48.2,51.7,51.7,51.8,51.8,51.8
11,310M300US37980,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",6096120,6070500,6069875,6051170,6034678,48.4,48.4,...,47.4,47.3,47.4,47.2,47.4,52.6,52.7,52.6,52.8,52.6
12,310M300US38300,38300,"Pittsburgh, PA",2333367,2342299,2353045,2355968,2360867,48.7,48.7,...,48.0,48.0,48.0,47.8,47.8,52.0,52.0,52.0,52.2,52.2
13,310M300US38900,38900,"Portland-Vancouver-Hillsboro, OR-WA",2451560,2425325,2390244,2347127,2315089,49.5,49.5,...,48.9,48.7,48.9,48.6,48.5,51.1,51.3,51.1,51.4,51.5
14,310M300US41180,41180,"St. Louis, MO-IL",2807216,2807954,2812313,2805856,2799609,48.6,48.5,...,47.8,47.5,47.5,47.5,47.5,52.2,52.5,52.5,52.5,52.5
15,310M300US41620,41620,"Salt Lake City, UT",1203105,1186187,1170266,1153340,1140483,50.2,50.2,...,49.8,49.7,49.9,49.6,49.6,50.2,50.3,50.1,50.4,50.4
16,310M300US41700,41700,"San Antonio-New Braunfels, TX",2473974,2429609,2381828,2326665,2277516,49.5,49.5,...,48.6,48.7,48.6,48.4,48.4,51.4,51.3,51.4,51.6,51.6
17,310M300US41940,41940,"San Jose-Sunnyvale-Santa Clara, CA",1998463,1978816,1976836,1952872,1919641,50.5,50.5,...,50.0,49.7,49.4,49.7,49.6,50.0,50.3,50.6,50.3,50.4
18,310M300US42660,42660,"Seattle-Tacoma-Bellevue, WA",3867046,3798902,3733580,3671478,3610105,50.1,49.9,...,49.5,49.6,49.5,49.5,49.4,50.5,50.4,50.5,50.5,50.6
19,310M300US45300,45300,"Tampa-St. Petersburg-Clearwater, FL",3091399,3032171,2975225,2915582,2870569,48.4,48.4,...,47.7,47.4,47.5,47.5,47.5,52.3,52.6,52.5,52.5,52.5
20,310M300US47900,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",6216710,6133552,6098283,6032744,5950214,48.9,48.9,...,48.2,48.0,47.9,47.9,47.9,51.8,52.0,52.1,52.1,52.1

## 4) merge ACS_12 and ACS_17

In [19]:
dfDemo = pd.merge(dfD12, dfD17, on='GEO.display-label')