
# Organize and Cleanse City Demographic Data
  1. import metro area Demographic ("ACS_17_1YR_CP05") data. Source:
     * https://factfinder.census.gov/faces/nav/jsf/pages/download_center.xhtml
  2. ACS_17: drop unneeded cities; drop unneeded cols; cleanse data

In [1]:
import pandas as pd

### 1) import metro area Demographic ("ACS_17_1YR_CP05") data

In [2]:
# import the US Census's "American Community Survey" (ACS) Metro Area Demographic data:2017
dfD17 = pd.read_csv('raw/ACS_17_1YR_CP05_with_ann.csv')
dfD17.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC05_VC03,HC06_VC03,HC07_VC03,...,HC09_VC114,HC01_VC115,HC02_VC115,HC03_VC115,HC04_VC115,HC05_VC115,HC06_VC115,HC07_VC115,HC08_VC115,HC09_VC115
0,Id,Id2,Geography,2017 Estimate; SEX AND AGE - Total population,2016 Estimate; SEX AND AGE - Total population,2017 - 2016 Statistical Significance; SEX AND ...,2015 Estimate; SEX AND AGE - Total population,2017 - 2015 Statistical Significance; SEX AND ...,2014 Estimate; SEX AND AGE - Total population,2017 - 2014 Statistical Significance; SEX AND ...,...,"2017 - 2013 Statistical Significance; CITIZEN,...","2017 Estimate; CITIZEN, VOTING AGE POPULATION ...","2016 Estimate; CITIZEN, VOTING AGE POPULATION ...","2017 - 2016 Statistical Significance; CITIZEN,...","2015 Estimate; CITIZEN, VOTING AGE POPULATION ...","2017 - 2015 Statistical Significance; CITIZEN,...","2014 Estimate; CITIZEN, VOTING AGE POPULATION ...","2017 - 2014 Statistical Significance; CITIZEN,...","2013 Estimate; CITIZEN, VOTING AGE POPULATION ...","2017 - 2013 Statistical Significance; CITIZEN,..."
1,310M300US10180,10180,"Abilene, TX Metro Area",169747,170860,NaN,168922,NaN,166900,NaN,...,NaN,49.9,48.7,*,49.3,NaN,49.1,*,49.2,NaN
2,310M300US10420,10420,"Akron, OH Metro Area",703505,702221,c,704243,c,703825,c,...,*,52.0,52.0,NaN,52.2,NaN,52.4,*,52.4,*
3,310M300US10500,10500,"Albany, GA Metro Area",151754,152506,NaN,156997,*,152596,NaN,...,NaN,53.9,54.2,NaN,54.6,NaN,54.0,NaN,53.4,NaN
4,310M300US10540,10540,"Albany, OR Metro Area",125047,122849,c,120547,c,119356,c,...,NaN,51.0,51.4,NaN,51.0,NaN,51.1,NaN,51.1,NaN

In [3]:
# eliminate " (Metro Area)" suffix in each row: 2017
dfD17['GEO.display-label'] = dfD17['GEO.display-label'].str.replace(' Metro Area','')
dfD17['GEO.display-label'].unique()

array(['Geography', 'Abilene, TX', 'Akron, OH', 'Albany, GA',
       'Albany, OR', 'Albany-Schenectady-Troy, NY', 'Albuquerque, NM',
       'Alexandria, LA', 'Allentown-Bethlehem-Easton, PA-NJ',
       'Altoona, PA', 'Amarillo, TX', 'Ames, IA', 'Anchorage, AK',
       'Ann Arbor, MI', 'Anniston-Oxford-Jacksonville, AL',
       'Appleton, WI', 'Asheville, NC', 'Athens-Clarke County, GA',
       'Atlanta-Sandy Springs-Roswell, GA', 'Atlantic City-Hammonton, NJ',
       'Auburn-Opelika, AL', 'Augusta-Richmond County, GA-SC',
       'Austin-Round Rock, TX', 'Bakersfield, CA',
       'Baltimore-Columbia-Towson, MD', 'Bangor, ME',
       'Barnstable Town, MA', 'Baton Rouge, LA', 'Battle Creek, MI',
       'Bay City, MI', 'Beaumont-Port Arthur, TX', 'Beckley, WV',
       'Bellingham, WA', 'Bend-Redmond, OR', 'Billings, MT',
       'Binghamton, NY', 'Birmingham-Hoover, AL', 'Bismarck, ND',
       'Blacksburg-Christiansburg-Radford, VA', 'Bloomington, IL',
       'Bloomington, IN', 'Bloomsburg-Berwick, PA', 'Boise City, ID',
       'Boston-Cambridge-Newton, MA-NH', 'Boulder, CO',
       'Bowling Green, KY', 'Bremerton-Silverdale, WA',
       'Bridgeport-Stamford-Norwalk, CT', 'Brownsville-Harlingen, TX',
       'Brunswick, GA', 'Buffalo-Cheektowaga-Niagara Falls, NY',
       'Burlington, NC', 'Burlington-South Burlington, VT',
       'California-Lexington Park, MD', 'Canton-Massillon, OH',
       'Cape Coral-Fort Myers, FL', 'Cape Girardeau, MO-IL',
       'Carbondale-Marion, IL', 'Carson City, NV', 'Casper, WY',
       'Cedar Rapids, IA', 'Chambersburg-Waynesboro, PA',
       'Champaign-Urbana, IL', 'Charleston, WV',
       'Charleston-North Charleston, SC',
       'Charlotte-Concord-Gastonia, NC-SC', 'Charlottesville, VA',
       'Chattanooga, TN-GA', 'Cheyenne, WY',
       'Chicago-Naperville-Elgin, IL-IN-WI', 'Chico, CA',
       'Cincinnati, OH-KY-IN', 'Clarksville, TN-KY', 'Cleveland, TN',
       'Cleveland-Elyria, OH', "Coeur d'Alene, ID",
       'College Station-Bryan, TX', 'Colorado Springs, CO',
       'Columbia, MO', 'Columbia, SC', 'Columbus, GA-AL', 'Columbus, IN',
       'Columbus, OH', 'Corpus Christi, TX', 'Corvallis, OR',
       'Crestview-Fort Walton Beach-Destin, FL', 'Cumberland, MD-WV',
       'Dallas-Fort Worth-Arlington, TX', 'Dalton, GA', 'Danville, IL',
       'Daphne-Fairhope-Foley, AL', 'Davenport-Moline-Rock Island, IA-IL',
       'Dayton, OH', 'Decatur, AL', 'Decatur, IL',
       'Deltona-Daytona Beach-Ormond Beach, FL',
       'Denver-Aurora-Lakewood, CO', 'Des Moines-West Des Moines, IA',
       'Detroit-Warren-Dearborn, MI', 'Dothan, AL', 'Dover, DE',
       'Dubuque, IA', 'Duluth, MN-WI', 'Durham-Chapel Hill, NC',
       'East Stroudsburg, PA', 'Eau Claire, WI', 'El Centro, CA',
       'Elizabethtown-Fort Knox, KY', 'Elkhart-Goshen, IN', 'Elmira, NY',
       'El Paso, TX', 'Enid, OK', 'Erie, PA', 'Eugene, OR',
       'Evansville, IN-KY', 'Fairbanks, AK', 'Fargo, ND-MN',
       'Farmington, NM', 'Fayetteville, NC',
       'Fayetteville-Springdale-Rogers, AR-MO', 'Flagstaff, AZ',
       'Flint, MI', 'Florence, SC', 'Florence-Muscle Shoals, AL',
       'Fond du Lac, WI', 'Fort Collins, CO', 'Fort Smith, AR-OK',
       'Fort Wayne, IN', 'Fresno, CA', 'Gadsden, AL', 'Gainesville, FL',
       'Gainesville, GA', 'Gettysburg, PA', 'Glens Falls, NY',
       'Goldsboro, NC', 'Grand Forks, ND-MN', 'Grand Island, NE',
       'Grand Junction, CO', 'Grand Rapids-Wyoming, MI',
       'Grants Pass, OR', 'Great Falls, MT', 'Greeley, CO',
       'Green Bay, WI', 'Greensboro-High Point, NC', 'Greenville, NC',
       'Greenville-Anderson-Mauldin, SC',
       'Gulfport-Biloxi-Pascagoula, MS', 'Hagerstown-Martinsburg, MD-WV',
       'Hammond, LA', 'Hanford-Corcoran, CA', 'Harrisburg-Carlisle, PA',
       'Harrisonburg, VA', 'Hartford-West Hartford-East Hartford, CT',
       'Hattiesburg, MS', 'Hickory-Lenoir-Morganton, NC',
       'Hilton Head Island-Bluffton-Beaufort, SC', 'Hinesville, GA',
       'Homosassa Springs, FL', 'Hot Springs, AR', 'Houma-Thibodaux, LA',
       'Houston-The Woodlands-Sugar Land, TX',
       'Huntington-Ashland, WV-KY-OH', 'Huntsville, AL',
       'Idaho Falls, ID', 'Indianapolis-Carmel-Anderson, IN',
       'Iowa City, IA', 'Ithaca, NY', 'Jackson, MI', 'Jackson, MS',
       'Jackson, TN', 'Jacksonville, FL', 'Jacksonville, NC',
       'Janesville-Beloit, WI', 'Jefferson City, MO', 'Johnson City, TN',
       'Johnstown, PA', 'Jonesboro, AR', 'Joplin, MO',
       'Kahului-Wailuku-Lahaina, HI', 'Kalamazoo-Portage, MI',
       'Kankakee, IL', 'Kansas City, MO-KS', 'Kennewick-Richland, WA',
       'Killeen-Temple, TX', 'Kingsport-Bristol-Bristol, TN-VA',
       'Kingston, NY', 'Knoxville, TN', 'Kokomo, IN',
       'La Crosse-Onalaska, WI-MN', 'Lafayette, LA',
       'Lafayette-West Lafayette, IN', 'Lake Charles, LA',
       'Lake Havasu City-Kingman, AZ', 'Lakeland-Winter Haven, FL',
       'Lancaster, PA', 'Lansing-East Lansing, MI', 'Laredo, TX',
       'Las Cruces, NM', 'Las Vegas-Henderson-Paradise, NV',
       'Lawrence, KS', 'Lawton, OK', 'Lebanon, PA', 'Lewiston, ID-WA',
       'Lewiston-Auburn, ME', 'Lexington-Fayette, KY', 'Lima, OH',
       'Lincoln, NE', 'Little Rock-North Little Rock-Conway, AR',
       'Logan, UT-ID', 'Longview, TX', 'Longview, WA',
       'Los Angeles-Long Beach-Anaheim, CA',
       'Louisville/Jefferson County, KY-IN', 'Lubbock, TX',
       'Lynchburg, VA', 'Macon-Bibb County, GA', 'Madera, CA',
       'Madison, WI', 'Manchester-Nashua, NH', 'Manhattan, KS',
       'Mankato-North Mankato, MN', 'Mansfield, OH',
       'McAllen-Edinburg-Mission, TX', 'Medford, OR', 'Memphis, TN-MS-AR',
       'Merced, CA', 'Miami-Fort Lauderdale-West Palm Beach, FL',
       'Michigan City-La Porte, IN', 'Midland, MI', 'Midland, TX',
       'Milwaukee-Waukesha-West Allis, WI',
       'Minneapolis-St. Paul-Bloomington, MN-WI', 'Missoula, MT',
       'Mobile, AL', 'Modesto, CA', 'Monroe, LA', 'Monroe, MI',
       'Montgomery, AL', 'Morgantown, WV', 'Morristown, TN',
       'Mount Vernon-Anacortes, WA', 'Muncie, IN', 'Muskegon, MI',
       'Myrtle Beach-Conway-North Myrtle Beach, SC-NC', 'Napa, CA',
       'Naples-Immokalee-Marco Island, FL',
       'Nashville-Davidson--Murfreesboro--Franklin, TN', 'New Bern, NC',
       'New Haven-Milford, CT', 'New Orleans-Metairie, LA',
       'New York-Newark-Jersey City, NY-NJ-PA', 'Niles-Benton Harbor, MI',
       'North Port-Sarasota-Bradenton, FL', 'Norwich-New London, CT',
       'Ocala, FL', 'Ocean City, NJ', 'Odessa, TX',
       'Ogden-Clearfield, UT', 'Oklahoma City, OK',
       'Olympia-Tumwater, WA', 'Omaha-Council Bluffs, NE-IA',
       'Orlando-Kissimmee-Sanford, FL', 'Oshkosh-Neenah, WI',
       'Owensboro, KY', 'Oxnard-Thousand Oaks-Ventura, CA',
       'Palm Bay-Melbourne-Titusville, FL', 'Panama City, FL',
       'Parkersburg-Vienna, WV', 'Pensacola-Ferry Pass-Brent, FL',
       'Peoria, IL', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
       'Phoenix-Mesa-Scottsdale, AZ', 'Pine Bluff, AR', 'Pittsburgh, PA',
       'Pittsfield, MA', 'Pocatello, ID', 'Portland-South Portland, ME',
       'Portland-Vancouver-Hillsboro, OR-WA', 'Port St. Lucie, FL',
       'Prescott, AZ', 'Providence-Warwick, RI-MA', 'Provo-Orem, UT',
       'Pueblo, CO', 'Punta Gorda, FL', 'Racine, WI', 'Raleigh, NC',
       'Rapid City, SD', 'Reading, PA', 'Redding, CA', 'Reno, NV',
       'Richmond, VA', 'Riverside-San Bernardino-Ontario, CA',
       'Roanoke, VA', 'Rochester, MN', 'Rochester, NY', 'Rockford, IL',
       'Rocky Mount, NC', 'Rome, GA',
       'Sacramento--Roseville--Arden-Arcade, CA', 'Saginaw, MI',
       'St. Cloud, MN', 'St. George, UT', 'St. Joseph, MO-KS',
       'St. Louis, MO-IL', 'Salem, OR', 'Salinas, CA', 'Salisbury, MD-DE',
       'Salt Lake City, UT', 'San Angelo, TX',
       'San Antonio-New Braunfels, TX', 'San Diego-Carlsbad, CA',
       'San Francisco-Oakland-Hayward, CA',
       'San Jose-Sunnyvale-Santa Clara, CA',
       'San Luis Obispo-Paso Robles-Arroyo Grande, CA',
       'Santa Cruz-Watsonville, CA', 'Santa Fe, NM',
       'Santa Maria-Santa Barbara, CA', 'Santa Rosa, CA', 'Savannah, GA',
       'Scranton--Wilkes-Barre--Hazleton, PA',
       'Seattle-Tacoma-Bellevue, WA', 'Sebastian-Vero Beach, FL',
       'Sebring, FL', 'Sheboygan, WI', 'Sherman-Denison, TX',
       'Shreveport-Bossier City, LA', 'Sierra Vista-Douglas, AZ',
       'Sioux City, IA-NE-SD', 'Sioux Falls, SD',
       'South Bend-Mishawaka, IN-MI', 'Spartanburg, SC',
       'Spokane-Spokane Valley, WA', 'Springfield, IL', 'Springfield, MA',
       'Springfield, MO', 'Springfield, OH', 'State College, PA',
       'Staunton-Waynesboro, VA', 'Stockton-Lodi, CA', 'Sumter, SC',
       'Syracuse, NY', 'Tallahassee, FL',
       'Tampa-St. Petersburg-Clearwater, FL', 'Terre Haute, IN',
       'Texarkana, TX-AR', 'The Villages, FL', 'Toledo, OH', 'Topeka, KS',
       'Trenton, NJ', 'Tucson, AZ', 'Tulsa, OK', 'Tuscaloosa, AL',
       'Tyler, TX', 'Urban Honolulu, HI', 'Utica-Rome, NY',
       'Valdosta, GA', 'Vallejo-Fairfield, CA', 'Victoria, TX',
       'Vineland-Bridgeton, NJ',
       'Virginia Beach-Norfolk-Newport News, VA-NC',
       'Visalia-Porterville, CA', 'Waco, TX', 'Walla Walla, WA',
       'Warner Robins, GA',
       'Washington-Arlington-Alexandria, DC-VA-MD-WV',
       'Waterloo-Cedar Falls, IA', 'Watertown-Fort Drum, NY',
       'Wausau, WI', 'Weirton-Steubenville, WV-OH', 'Wenatchee, WA',
       'Wheeling, WV-OH', 'Wichita, KS', 'Wichita Falls, TX',
       'Williamsport, PA', 'Wilmington, NC', 'Winchester, VA-WV',
       'Winston-Salem, NC', 'Worcester, MA-CT', 'Yakima, WA',
       'York-Hanover, PA', 'Youngstown-Warren-Boardman, OH-PA',
       'Yuba City, CA', 'Yuma, AZ'], dtype=object)

In [4]:
# import the city file and group it by the 2017 Metro Areas
dfCities17 = pd.read_csv('cities.csv')
grpCities17 = dfCities17.groupby('2017Metro')
dfCities17 = grpCities17.count()
dfCities17

,2012Metro,WikipediaMetro,City,State
2017Metro,,,,
"Atlanta-Sandy Springs-Roswell, GA",1,1,1,1
"Baltimore-Columbia-Towson, MD",1,1,1,1
"Boston-Cambridge-Newton, MA-NH",1,1,1,1
"Buffalo-Cheektowaga-Niagara Falls, NY",1,1,1,1
"Charlotte-Concord-Gastonia, NC-SC",1,1,1,1
"Chicago-Naperville-Elgin, IL-IN-WI",1,1,1,1
"Cincinnati, OH-KY-IN",1,1,1,1
"Cleveland-Elyria, OH",1,1,1,1
"Columbus, OH",1,1,1,1
"Dallas-Fort Worth-Arlington, TX",2,2,2,2
"Denver-Aurora-Lakewood, CO",1,1,1,1
"Detroit-Warren-Dearborn, MI",1,1,1,1
"Green Bay, WI",1,1,1,1
"Houston-The Woodlands-Sugar Land, TX",1,1,1,1
"Indianapolis-Carmel-Anderson, IN",1,1,1,1
"Jacksonville, FL",1,1,1,1
"Kansas City, MO-KS",1,1,1,1
"Las Vegas-Henderson-Paradise, NV",1,1,1,1
"Los Angeles-Long Beach-Anaheim, CA",2,2,2,2
"Memphis, TN-MS-AR",1,1,1,1
"Miami-Fort Lauderdale-West Palm Beach, FL",2,2,2,2
"Milwaukee-Waukesha-West Allis, WI",1,1,1,1
"Minneapolis-St. Paul-Bloomington, MN-WI",2,2,2,2
"Nashville-Davidson--Murfreesboro--Franklin, TN",1,1,1,1
"New Orleans-Metairie, LA",1,1,1,1
"New York-Newark-Jersey City, NY-NJ-PA",3,3,3,3
"Oklahoma City, OK",1,1,1,1
"Orlando-Kissimmee-Sanford, FL",1,1,1,1
"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",1,1,1,1
"Phoenix-Mesa-Scottsdale, AZ",1,1,1,1
"Pittsburgh, PA",1,1,1,1
"Portland-Vancouver-Hillsboro, OR-WA",1,1,1,1
"Raleigh, NC",1,1,1,1
"Sacramento--Roseville--Arden-Arcade, CA",1,1,1,1
"Salt Lake City, UT",1,1,1,1
"San Antonio-New Braunfels, TX",1,1,1,1
"San Diego-Carlsbad, CA",1,1,1,1
"San Francisco-Oakland-Hayward, CA",2,2,2,2
"San Jose-Sunnyvale-Santa Clara, CA",1,1,1,1
"Seattle-Tacoma-Bellevue, WA",1,1,1,1
"St. Louis, MO-IL",1,1,1,1
"Tampa-St. Petersburg-Clearwater, FL",2,2,2,2
"Washington-Arlington-Alexandria, DC-VA-MD-WV",1,1,1,1

## 2) ACS_17: drop unneeded cities; drop unneeded cols; cleanse data

In [5]:
# use the grouped city DataFrame to drop unneeded rows from dfGDP via merge
dfD17 = pd.merge(dfD17, dfCities17, left_on='GEO.display-label', right_on='2017Metro')
dfD17.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC05_VC03,HC06_VC03,HC07_VC03,...,HC04_VC115,HC05_VC115,HC06_VC115,HC07_VC115,HC08_VC115,HC09_VC115,2012Metro,WikipediaMetro,City,State
0,310M300US12060,12060,"Atlanta-Sandy Springs-Roswell, GA",5882450,5790210,*,5709731,*,5611829,*,...,52.9,NaN,52.8,*,52.9,NaN,1,1,1,1
1,310M300US12580,12580,"Baltimore-Columbia-Towson, MD",2808175,2798886,c,2797407,c,2785874,c,...,52.8,NaN,52.7,NaN,52.8,NaN,1,1,1,1
2,310M300US14460,14460,"Boston-Cambridge-Newton, MA-NH",4836531,4794447,c,4774321,c,4732161,c,...,52.4,NaN,52.4,NaN,52.5,*,1,1,1,1
3,310M300US15380,15380,"Buffalo-Cheektowaga-Niagara Falls, NY",1136856,1132804,c,1135230,c,1136360,c,...,52.3,NaN,52.2,NaN,52.2,NaN,1,1,1,1
4,310M300US16740,16740,"Charlotte-Concord-Gastonia, NC-SC",2525305,2474314,c,2426363,c,2380314,c,...,52.7,NaN,52.7,NaN,52.8,*,1,1,1,1

In [6]:
# import ACS metadata file
dfD17Meta = pd.read_csv('raw/ACS_17_1YR_CP05_metadata.csv', header=None, names=['col','description'])
dfD17Meta.head(10)

                 col                                        description
0             GEO.id                                                 Id
1            GEO.id2                                                Id2
2  GEO.display-label                                          Geography
3          HC01_VC03      2017 Estimate; SEX AND AGE - Total population
4          HC02_VC03      2016 Estimate; SEX AND AGE - Total population
5          HC03_VC03  2017 - 2016 Statistical Significance; SEX AND ...
6          HC04_VC03      2015 Estimate; SEX AND AGE - Total population
7          HC05_VC03  2017 - 2015 Statistical Significance; SEX AND ...
8          HC06_VC03      2014 Estimate; SEX AND AGE - Total population
9          HC07_VC03  2017 - 2014 Statistical Significance; SEX AND ...

In [7]:
# create col to identify non-2017 rows in metadata file
dfD17Meta['droprow'] = ~(dfD17Meta['description'].str.startswith('2017 Estimate') |\
                       dfD17Meta['col'].str.startswith('GEO.'))
dfD17Meta.head(10)

,col,description,droprow
0,GEO.id,Id,False
1,GEO.id2,Id2,False
2,GEO.display-label,Geography,False
3,HC01_VC03,2017 Estimate; SEX AND AGE - Total population,False
4,HC02_VC03,2016 Estimate; SEX AND AGE - Total population,True
5,HC03_VC03,2017 - 2016 Statistical Significance; SEX AND ...,True
6,HC04_VC03,2015 Estimate; SEX AND AGE - Total population,True
7,HC05_VC03,2017 - 2015 Statistical Significance; SEX AND ...,True
8,HC06_VC03,2014 Estimate; SEX AND AGE - Total population,True
9,HC07_VC03,2017 - 2014 Statistical Significance; SEX AND ...,True

In [8]:
# drop multi-year rows from metadata file
dfD17Meta = dfD17Meta.loc[dfD17Meta['droprow'] == False]
dfD17Meta = dfD17Meta[['col','description']]
dfD17Meta.head(100)

                   col                                        description
0               GEO.id                                                 Id
1              GEO.id2                                                Id2
2    GEO.display-label                                          Geography
3            HC01_VC03      2017 Estimate; SEX AND AGE - Total population
12           HC01_VC04  2017 Estimate; SEX AND AGE - Total population ...
21           HC01_VC05  2017 Estimate; SEX AND AGE - Total population ...
30           HC01_VC06  2017 Estimate; SEX AND AGE - Total population ...
39           HC01_VC09         2017 Estimate; SEX AND AGE - Under 5 years
48           HC01_VC10          2017 Estimate; SEX AND AGE - 5 to 9 years
57           HC01_VC11        2017 Estimate; SEX AND AGE - 10 to 14 years
66           HC01_VC12        2017 Estimate; SEX AND AGE - 15 to 19 years
75           HC01_VC13        2017 Estimate; SEX AND AGE - 20 to 24 years
84           HC01_VC14        2017 Estimate; SEX AND AGE - 25 to 34 years
93           HC01_VC15        2017 Estimate; SEX AND AGE - 35 to 44 years
102          HC01_VC16        2017 Estimate; SEX AND AGE - 45 to 54 years
111          HC01_VC17        2017 Estimate; SEX AND AGE - 55 to 59 years
120          HC01_VC18        2017 Estimate; SEX AND AGE - 60 to 64 years
129          HC01_VC19        2017 Estimate; SEX AND AGE - 65 to 74 years
138          HC01_VC20        2017 Estimate; SEX AND AGE - 75 to 84 years
147          HC01_VC21     2017 Estimate; SEX AND AGE - 85 years and over
156          HC01_VC24    2017 Estimate; SEX AND AGE - Median age (years)
165          HC01_VC27        2017 Estimate; SEX AND AGE - Under 18 years
174          HC01_VC28     2017 Estimate; SEX AND AGE - 16 years and over
183          HC01_VC29     2017 Estimate; SEX AND AGE - 18 years and over
192          HC01_VC30     2017 Estimate; SEX AND AGE - 21 years and over
201          HC01_VC31     2017 Estimate; SEX AND AGE - 62 years and over
210          HC01_VC32     2017 Estimate; SEX AND AGE - 65 years and over
219          HC01_VC35     2017 Estimate; SEX AND AGE - 18 years and over
228          HC01_VC36  2017 Estimate; SEX AND AGE - 18 years and over...
237          HC01_VC37  2017 Estimate; SEX AND AGE - 18 years and over...
..                 ...                                                ...
534          HC01_VC77  2017 Estimate; RACE - Two or more races - Whit...
543          HC01_VC78  2017 Estimate; RACE - Two or more races - Whit...
552          HC01_VC79  2017 Estimate; RACE - Two or more races - Blac...
561          HC01_VC82  2017 Estimate; RACE - Race alone or in combina...
570          HC01_VC83  2017 Estimate; RACE - Race alone or in combina...
579          HC01_VC84  2017 Estimate; RACE - Race alone or in combina...
588          HC01_VC85  2017 Estimate; RACE - Race alone or in combina...
597          HC01_VC86  2017 Estimate; RACE - Race alone or in combina...
606          HC01_VC87  2017 Estimate; RACE - Race alone or in combina...
615          HC01_VC88  2017 Estimate; RACE - Race alone or in combina...
624          HC01_VC92  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
633          HC01_VC93  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
642          HC01_VC94  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
651          HC01_VC95  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
660          HC01_VC96  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
669          HC01_VC97  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
678          HC01_VC98  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
687          HC01_VC99  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
696         HC01_VC100  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
705         HC01_VC101  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
714         HC01_VC102  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
723         HC01_VC103  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
732         HC01_VC104  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
741         HC01_VC105  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
750         HC01_VC106  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
759         HC01_VC107  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
768         HC01_VC109  2017 Estimate; HISPANIC OR LATINO AND RACE - T...
777         HC01_VC113  2017 Estimate; CITIZEN, VOTING AGE POPULATION ...
786         HC01_VC114  2017 Estimate; CITIZEN, VOTING AGE POPULATION ...
795         HC01_VC115  2017 Estimate; CITIZEN, VOTING AGE POPULATION ...

[92 rows x 2 columns]

In [9]:
# drop unneeded cols
dfD17 = dfD17[dfD17Meta['col']]
dfD17.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC01_VC04,HC01_VC05,HC01_VC06,HC01_VC09,HC01_VC10,HC01_VC11,...,HC01_VC102,HC01_VC103,HC01_VC104,HC01_VC105,HC01_VC106,HC01_VC107,HC01_VC109,HC01_VC113,HC01_VC114,HC01_VC115
0,310M300US12060,12060,"Atlanta-Sandy Springs-Roswell, GA",5882450,48.4,51.6,94,6.3,6.8,7.3,...,5.8,0.0,0.4,2.4,0.1,2.3,2299498,4014060,47.0,53.0
1,310M300US12580,12580,"Baltimore-Columbia-Towson, MD",2808175,48.2,51.8,93,6.0,6.0,6.2,...,5.7,0.0,0.3,2.8,0.1,2.6,1160769,2073321,47.3,52.7
2,310M300US14460,14460,"Boston-Cambridge-Newton, MA-NH",4836531,48.7,51.3,95,5.3,5.4,5.7,...,7.9,0.0,0.9,2.0,0.2,1.7,1955479,3462624,47.7,52.3
3,310M300US15380,15380,"Buffalo-Cheektowaga-Niagara Falls, NY",1136856,48.5,51.5,94,5.4,5.6,5.6,...,3.1,0.0,0.1,2.1,0.1,2.1,529009,877979,47.7,52.3
4,310M300US16740,16740,"Charlotte-Concord-Gastonia, NC-SC",2525305,48.4,51.6,94,6.3,6.6,7.0,...,3.6,0.1,0.2,2.2,0.1,2.2,1028021,1776437,47.4,52.6

In [10]:
# eliminate "(X)" values in DataFrame
for strCol in dfD17.columns:
    dfD17[strCol] = dfD17[strCol].str.replace('\(X\)','')
dfD17.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC01_VC04,HC01_VC05,HC01_VC06,HC01_VC09,HC01_VC10,HC01_VC11,...,HC01_VC102,HC01_VC103,HC01_VC104,HC01_VC105,HC01_VC106,HC01_VC107,HC01_VC109,HC01_VC113,HC01_VC114,HC01_VC115
0,310M300US12060,12060,"Atlanta-Sandy Springs-Roswell, GA",5882450,48.4,51.6,94,6.3,6.8,7.3,...,5.8,0.0,0.4,2.4,0.1,2.3,2299498,4014060,47.0,53.0
1,310M300US12580,12580,"Baltimore-Columbia-Towson, MD",2808175,48.2,51.8,93,6.0,6.0,6.2,...,5.7,0.0,0.3,2.8,0.1,2.6,1160769,2073321,47.3,52.7
2,310M300US14460,14460,"Boston-Cambridge-Newton, MA-NH",4836531,48.7,51.3,95,5.3,5.4,5.7,...,7.9,0.0,0.9,2.0,0.2,1.7,1955479,3462624,47.7,52.3
3,310M300US15380,15380,"Buffalo-Cheektowaga-Niagara Falls, NY",1136856,48.5,51.5,94,5.4,5.6,5.6,...,3.1,0.0,0.1,2.1,0.1,2.1,529009,877979,47.7,52.3
4,310M300US16740,16740,"Charlotte-Concord-Gastonia, NC-SC",2525305,48.4,51.6,94,6.3,6.6,7.0,...,3.6,0.1,0.2,2.2,0.1,2.2,1028021,1776437,47.4,52.6

In [11]:
dfD17.to_csv('demodata2017only.csv')