In [60]:
# dependencies 
import pandas as pd

In [73]:
# Import Demographic data 
demo = pd.read_csv('City_Demographic.csv')
demo.head(50)

,City,State,Census 2010 Total Population,"2018 Population Estimate (as of July 1, 2018)",2017 ACS 5-Year Population Estimate,Median Age,Number of Companies,Educational Attainment: Percent high school graduate or higher,Count of Governments,Total housing units,...,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Two or More Races,Hispanic or Latino (of any race),"White alone, Not Hispanic or Latino",Veterans
0,New York,NY,"8,175,133","8,398,748","8,560,072",36.2,"1,050,911",81.10%,NaN,"3,455,117",...,"3,661,800","2,081,507","34,487","1,198,334","4,358","1,294,497","285,089","2,491,496","2,747,159","163,465"
1,Brooklyn,NY,"2,504,700",NaN,"2,635,121",34.8,NaN,80.70%,NaN,"1,028,383",...,"1,138,768","869,467","8,735","313,891",975,"232,279","71,006","508,365","947,519","40,990"
2,Newark,NY,"3,946",NaN,"3,791",45.1,229,92.60%,NaN,"1,721",...,"3,714",6,5,3,0,9,54,26,"3,697",336
3,Los Angeles,CA,"9,818,605","10,105,518","10,105,722",36.0,"1,146,701",78.20%,NaN,"3,506,903",...,"5,232,835","828,981","68,211","1,460,508","27,691","2,101,084","386,412","4,893,579","2,676,982","280,109"
4,Anaheim,CA,"336,265","352,005","349,007",34.0,"29,541",76.60%,NaN,"104,533",...,"239,734","8,268","1,329","57,539","1,288","29,324","11,525","187,931","87,991","10,251"
5,San Francisco,CA,"805,235","883,305","864,263",38.3,"116,803",87.90%,NaN,"390,376",...,"408,266","45,654","3,306","295,347","3,226","64,800","43,664","131,949","353,000","24,582"
6,Oakland,CA,"390,724","429,082","417,442",36.4,"44,799",80.70%,NaN,"169,303",...,"153,035","101,482","3,627","66,351","2,504","61,162","29,281","112,690","113,985","12,951"
7,San Jose,CA,"945,942","1,030,119","1,023,031",36.4,"77,832",83.50%,NaN,"331,510",...,"416,127","30,767","5,806","355,623","4,203","158,287","52,218","330,827","271,027","28,305"
8,Chicago,IL,"2,695,598","2,705,994","2,722,586",34.1,"291,007",83.80%,NaN,"1,200,305",...,"1,337,911","830,626","7,723","169,458",841,"304,527","71,500","789,713","890,322","75,405"
9,Dallas,TX,"1,197,816","1,345,047","1,300,122",32.5,"142,658",75.90%,NaN,"552,711",...,"802,952","316,191","3,361","43,683",606,"99,633","33,696","541,665","377,990","43,602"
10,Arlington,TX,"365,438","398,112","388,225",33.1,"35,988",84.70%,NaN,"147,407",...,"244,490","85,023","1,619","26,689",458,"17,998","11,948","112,283","155,606","18,615"
11,Washington,DC,"601,723","702,455","672,391",33.9,"63,408",90.30%,NaN,"308,161",...,"273,471","321,062","1,757","25,558",289,"30,961","19,293","71,829","241,901","27,695"
12,Philadelphia,PA,"1,526,006","1,584,138","1,569,657",34.1,"104,439",83.30%,NaN,"679,876",...,"652,204","668,123","5,641","111,487",831,"87,384","43,987","221,777","548,312","60,637"
13,Boston,MA,"617,594","694,583","669,158",32.0,"59,268",86.10%,NaN,"285,660",...,"353,062","169,042","2,479","63,408",176,"47,900","33,091","129,520","300,491","16,221"
14,Minneapolis,MN,"382,578","425,403","411,452",32.1,"44,702",89.30%,NaN,"183,344",...,"263,055","77,778","5,086","24,892",79,"20,344","20,218","40,147","246,351","14,481"
15,St. Paul,MN,"285,068","307,695","300,820",31.5,"27,147",86.40%,NaN,"119,278",...,"172,777","47,691","2,675","54,039",80,"8,733","14,825","29,207","156,681","10,055"
16,Denver,CO,"600,158","716,492","678,467",34.4,"79,097",86.70%,NaN,"306,714",...,"521,481","64,466","6,537","24,433",993,"37,216","23,341","207,100","363,712","29,712"
17,Miami,FL,"399,457","470,914","443,007",40.0,"98,222",75.60%,NaN,"196,618",...,"333,912","81,512","1,141","4,172",213,"14,433","7,624","319,782","46,415","6,593"
18,Fort Lauderdale,FL,"165,521","182,595","177,175",42.2,"32,917",86.80%,NaN,"95,843",...,"110,270","56,770",398,"2,584",50,"3,805","3,298","31,456","85,139","9,335"
19,Phoenix,AZ,"1,445,632","1,660,272","1,574,421",33.3,"124,033",81.20%,NaN,"608,384",...,"1,131,958","108,846","31,543","57,211","3,192","184,145","57,526","668,376","682,354","72,364"
20,Detroit,MI,"713,777","672,662","679,865",34.7,"61,868",79.70%,NaN,"364,900",...,"95,875","537,931","2,322","10,185",107,"20,527","12,918","51,685","67,579","28,572"
21,Houston,TX,"2,099,451","2,325,502","2,267,336",32.9,"260,347",77.90%,NaN,"943,183",...,"1,326,310","518,678","7,629","151,370","1,182","216,385","45,782","1,008,249","564,663","71,749"
22,Atlanta,GA,"420,003","498,044","465,230",33.5,"64,593",89.90%,NaN,"235,900",...,"186,447","243,285","1,189","18,727",157,"4,863","10,562","21,450","173,337","20,066"
23,Tampa,FL,"335,709","392,890","368,087",35.6,"44,811",87.10%,NaN,"165,678",...,"240,097","89,032","1,128","15,506",228,"9,481","12,615","92,494","165,660","21,467"
24,St. Petersburg,FL,"244,769","265,098","256,031",42.6,"25,545",90.50%,NaN,"131,356",...,"177,116","58,494",501,"8,515",126,"3,204","8,075","19,555","161,439","20,786"
25,Pittsburgh,PA,"244,769","265,098","256,031",42.6,"25,545",90.50%,NaN,"131,356",...,"177,116","58,494",501,"8,515",126,"3,204","8,075","19,555","161,439","20,786"
26,Cleveland,OH,"396,815","383,793","388,812",35.8,"32,679",79.20%,NaN,"211,902",...,"154,718","196,006","1,931","8,026",60,"12,479","15,592","43,466","131,338","19,757"
27,Seattle,WA,"608,660","744,955","688,245",35.7,"83,323",94.20%,NaN,"334,739",...,"472,347","48,884","3,799","99,728","2,675","15,155","45,657","44,505","449,138","29,816"
28,Cincinnati,OH,"296,943","302,605","298,957",32.4,"26,855",86.80%,NaN,"161,881",...,"150,663","128,105",442,"5,872",399,"3,465","10,011","10,821","144,219","12,790"
29,Kansas City,MO,"459,787","491,918","476,974",35.2,"39,486",89.10%,NaN,"229,508",...,"287,517","136,927","1,933","13,163",690,"21,173","15,571","48,521","264,602","26,439"
30,St. Louis,MO,"319,294","302,838","314,867",35.2,"30,040",85.70%,NaN,"176,159",...,"144,506","149,895",887,"9,798",177,"2,991","6,613","12,280","135,150","17,137"
31,Baltimore,MD,"620,961","602,495","619,796",35.0,"50,735",84.20%,NaN,"294,858",...,"187,725","389,222","1,886","15,855",309,"10,412","14,387","30,729","170,916","29,428"
32,Charlotte,NC,"731,424","872,498","826,060",33.9,"81,973",88.60%,NaN,"343,222",...,"413,212","289,406","2,523","51,437",483,"45,268","23,731","115,379","348,789","35,382"
33,Indianapolis,IN,"820,445","867,125","853,431",34.1,"69,366",85.50%,NaN,"383,677",...,"527,521","239,617","2,299","25,496",372,"32,343","25,783","86,362","477,245","45,024"
34,Nashville,TN,"601,222","669,053","654,187",34.1,"68,228",87.80%,NaN,"288,871",...,"412,563","181,681","1,845","23,617",437,"17,797","16,247","67,765","363,838","30,865"
35,Milwaukee,WI,"594,833","592,025","599,086",31.3,"38,017",83.00%,NaN,"257,810",...,"274,202","233,178","3,192","23,888",154,"40,864","23,608","110,388","214,553","22,270"
36,New Orleans,LA,"343,829","391,006","388,182",35.9,"41,506",85.90%,NaN,"191,633",...,"132,202","232,127",602,"11,567",119,"4,764","6,801","21,448","118,660","16,793"
37,Buffalo,NY,"261,310","256,304","259,574",32.8,"15,178",83.90%,NaN,"132,066",...,"123,613","96,374","1,139","13,604",86,"14,971","9,787","29,311","114,231","11,964"
38,Orlando,FL,"238,300","285,713","269,414",33.3,"37,544",90.10%,NaN,"127,869",...,"163,655","70,318",628,"11,645",73,"15,281","7,814","79,890","102,760","11,714"
39,Portland,OR,"583,776","653,115","630,331",36.8,"75,583",91.80%,NaN,"277,499",...,"487,660","35,929","4,871","49,200","3,914","14,399","34,358","61,214","447,488","30,076"
40,Columbus,OH,"787,033","892,533","852,144",32.2,"67,994",89.10%,NaN,"385,850",...,"515,163","240,920","1,627","44,715",423,"14,643","34,653","50,707","484,096","40,766"
41,Salt Lake City,UT,"186,440","200,591","194,188",31.9,"24,710",88.50%,NaN,"83,676",...,"143,072","3,930","2,522","10,429","3,383","24,897","5,955","41,439","127,943","7,260"
42,San Diego,CA,"1,307,402","1,425,976","1,390,966",34.3,"135,754",87.90%,NaN,"533,973",...,"900,052","88,774","6,094","233,477","5,703","86,463","70,403","417,128","599,633","90,552"
43,San Antonio,TX,"1,327,407","1,532,233","1,461,623",33.2,"117,546",82.00%,NaN,"540,148",...,"1,170,477","102,197","9,733","40,127","1,462","97,544","40,083","935,458","366,363","105,608"
44,Sacramento,CA,"466,488","508,529","489,650",34.3,"38,244",84.40%,NaN,"194,917",...,"237,508","65,822","3,503","91,390","8,007","50,316","33,104","138,483","162,206","22,744"
45,Las Vegas,NV,"583,756","644,644","621,662",37.4,"55,856",84.00%,NaN,"252,912",...,"389,475","76,145","4,091","41,394","4,479","76,183","29,895","203,054","275,845","42,597"
46,Jacksonville,FL,"821,784","903,889","867,313",35.8,"70,192",89.00%,NaN,"375,556",...,"513,276","269,175","1,875","41,265",850,"12,610","28,262","78,930","455,227","78,455"
47,Oklahoma City,OK,"579,999","649,021","629,191",34.1,"58,815",85.60%,NaN,"267,357",...,"425,997","91,265","17,542","28,269",465,"24,603","41,050","120,183","340,999","41,183"
48,Memphis,TN,"646,889","650,618","654,723",33.7,"70,891",84.50%,NaN,"298,310",...,"191,242","418,444","1,259","10,728",123,"22,141","10,786","45,741","170,708","31,931"
49,Raleigh,NC,"403,892","469,298","449,477",33.1,"43,895",91.50%,NaN,"194,768",...,"265,366","129,711","1,554","20,476",345,"20,520","11,505","49,226","240,400","20,283"

In [74]:
demo.dtypes

City                                                               object
State                                                              object
Census 2010 Total Population                                       object
2018 Population Estimate (as of July 1, 2018)                      object
2017 ACS 5-Year Population Estimate                                object
Median Age                                                        float64
Number of Companies                                                object
Educational Attainment: Percent high school graduate or higher     object
Count of Governments                                              float64
Total housing units                                                object
Median Household Income                                            object
Foreign Born Population                                            object
Individuals below poverty level                                    object
Race and Hispanic Origin                                          float64
White alone                                                        object
Black or African American alone                                    object
American Indian and Alaska Native alone                            object
Asian alone                                                        object
Native Hawaiian and Other Pacific Islander alone                   object
Some Other Race alone                                              object
Two or More Races                                                  object
Hispanic or Latino (of any race)                                   object
White alone, Not Hispanic or Latino                                object
Veterans                                                           object
dtype: object

In [75]:
demo_df = pd.DataFrame(demo)

In [76]:
demo_df['Census 2010 Total Population'] = demo_df['Census 2010 Total Population'].str.replace(',', '')
demo_df['2017 ACS 5-Year Population Estimate'] = demo_df['2017 ACS 5-Year Population Estimate'].str.replace(',', '')
demo_df['Number of Companies'] = demo_df['Number of Companies'].str.replace(',', '')
demo_df['Total housing units'] = demo_df['Total housing units'].str.replace(',', '')
demo_df['Median Household Income'] = demo_df['Median Household Income'].str.replace(',', '')
demo_df['Foreign Born Population'] = demo_df['Foreign Born Population'].str.replace(',', '')
demo_df['Individuals below poverty level'] = demo_df['Individuals below poverty level'].str.replace(',', '', '%')
demo_df['White alone'] = demo_df['White alone'].str.replace(',', '')
demo_df['Black or African American alone'] = demo_df['Black or African American alone'].str.replace(',', '')
demo_df['American Indian and Alaska Native alone'] = demo_df['American Indian and Alaska Native alone'].str.replace(',', '')
demo_df['Asian alone'] = demo_df['Asian alone'].str.replace(',', '')
demo_df['Native Hawaiian and Other Pacific Islander alone'] = demo_df['Native Hawaiian and Other Pacific Islander alone'].str.replace(',', '')
demo_df['Some Other Race alone'] = demo_df['Some Other Race alone'].str.replace(',', '')
demo_df['Two or More Races'] = demo_df['Two or More Races'].str.replace(',', '')
demo_df['Hispanic or Latino (of any race)'] = demo_df['Hispanic or Latino (of any race)'].str.replace(',', '')
demo_df['White alone, Not Hispanic or Latino'] = demo_df['White alone, Not Hispanic or Latino'].str.replace(',', '')
demo_df['Veterans'] = demo_df['Veterans'].str.replace(',', '')

demo_df.head(5)

,City,State,Census 2010 Total Population,"2018 Population Estimate (as of July 1, 2018)",2017 ACS 5-Year Population Estimate,Median Age,Number of Companies,Educational Attainment: Percent high school graduate or higher,Count of Governments,Total housing units,...,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Two or More Races,Hispanic or Latino (of any race),"White alone, Not Hispanic or Latino",Veterans
0,New York,NY,8175133,"8,398,748",8560072,36.2,1050911,81.10%,NaN,3455117,...,3661800,2081507,34487,1198334,4358,1294497,285089,2491496,2747159,163465
1,Brooklyn,NY,2504700,NaN,2635121,34.8,NaN,80.70%,NaN,1028383,...,1138768,869467,8735,313891,975,232279,71006,508365,947519,40990
2,Newark,NY,3946,NaN,3791,45.1,229,92.60%,NaN,1721,...,3714,6,5,3,0,9,54,26,3697,336
3,Los Angeles,CA,9818605,"10,105,518",10105722,36.0,1146701,78.20%,NaN,3506903,...,5232835,828981,68211,1460508,27691,2101084,386412,4893579,2676982,280109
4,Anaheim,CA,336265,"352,005",349007,34.0,29541,76.60%,NaN,104533,...,239734,8268,1329,57539,1288,29324,11525,187931,87991,10251

In [79]:
demo_df['Census 2010 Total Population'].astype(str).astype(int)
demo_df['2017 ACS 5-Year Population Estimate'].astype(str).astype(int)
demo_df['Total housing units'].astype(str).astype(int)
demo_df['Median Household Income'].astype(str).astype(int)
demo_df['Foreign Born Population'].astype(str).astype(int)
demo_df['White alone'].astype(str).astype(int)
demo_df['Black or African American alone'].astype(str).astype(int)
demo_df['American Indian and Alaska Native alone'].astype(str).astype(int)
demo_df['Asian alone'].astype(str).astype(int)
demo_df['Native Hawaiian and Other Pacific Islander alone'].astype(str).astype(int)
demo_df['Some Other Race alone'].astype(str).astype(int)
demo_df['Two or More Races'].astype(str).astype(int)
demo_df['Hispanic or Latino (of any race)'].astype(str).astype(int)
demo_df['White alone, Not Hispanic or Latino'].astype(str).astype(int)
demo_df['Veterans'].astype(str).astype(int)

0     163465
1      40990
2        336
3     280109
4      10251
5      24582
6      12951
7      28305
8      75405
9      43602
10     18615
11     27695
12     60637
13     16221
14     14481
15     10055
16     29712
17      6593
18      9335
19     72364
20     28572
21     71749
22     20066
23     21467
24     20786
25     20786
26     19757
27     29816
28     12790
29     26439
30     17137
31     29428
32     35382
33     45024
34     30865
35     22270
36     16793
37     11964
38     11714
39     30076
40     40766
41      7260
42     90552
43    105608
44     22744
45     42597
46     78455
47     41183
48     31931
49     20283
50      5587
Name: Veterans, dtype: int64

In [80]:
demo_df.dtypes

City                                                               object
State                                                              object
Census 2010 Total Population                                       object
2018 Population Estimate (as of July 1, 2018)                      object
2017 ACS 5-Year Population Estimate                                object
Median Age                                                        float64
Number of Companies                                                object
Educational Attainment: Percent high school graduate or higher     object
Count of Governments                                              float64
Total housing units                                                object
Median Household Income                                            object
Foreign Born Population                                            object
Individuals below poverty level                                   float64
Race and Hispanic Origin                                          float64
White alone                                                        object
Black or African American alone                                    object
American Indian and Alaska Native alone                            object
Asian alone                                                        object
Native Hawaiian and Other Pacific Islander alone                   object
Some Other Race alone                                              object
Two or More Races                                                  object
Hispanic or Latino (of any race)                                   object
White alone, Not Hispanic or Latino                                object
Veterans                                                           object
dtype: object

In [83]:
demo_df.to_csv('demo_df.csv')